;;;

"layout": "public",
"title": "About the PMP Exam",
"right_title": "", 
"activeclass": "about",
"subtitle": "About the PMP Exam",
"subnav_data": "about_subnav",
"subnav_2_data": "about_subnav_subnav",
"testiminial_data": "testimonials",
"sidebar_title": "Overview"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"about-pmp-header"}


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
%section
	.container
		.row
			.col-sm-9
				%h2
					About the PMP Exam and Certification
				%p
					%strong
						Welcome to the world of the Project Management Professional (PMP)! 
					At its heart, the project management standards developed by the Project Management Institute (PMI) are relied on by organizations across the globe. The most fundamental method of demonstrating your own understanding of PMI's project management standards, is by achieving the PMP certification.
				%p
					Since the early 2000s, the PMP certification has grown to become one of the most sought after and internationally recognized management credentials available, consistently ranking in the top 5 industry certifications across career surveys.
				.well
					%h2
						PMP Exam Facts and Updates
					%p
						Below are answers to some of the most frequently received questions regarding the PMP exam. 
					%p
						%strong
							What is the current version of the PMP exam? 
						The current PMP exam was put into affect on July 31, 2013 and reflects the PMBOK Guide® - Fifth Edition. 
					%p
						%strong
							What is the current version of the PMBOK Guide®? 
						The PMBOK Guide® - Fifth Edition was published on January 1, 2013 and is the basis for the PMP exam starting July 31, 2013.
					%p
						The PMBOK Guide® - Fourth Edition applies to the old PMP exam and and is no longer in use as of July 31, 2013. 
					%p
						%strong
							What version of the PMBOK Guide® should I use? 
						You should use the PMBOK Guide® - Fifth Edition as the reference text for all current PMP exams. 
					%p
						%strong
							How does the PMBOK Guide® - Fifth Edition differ from the prior PMBOK Guide version? 
						The traditional process groups of Initiating, Planning Executing, Monitoring and Controlling, and Closing are unchanged. This is still the context for the flow of all processes and activities.
						With the addition of Stakeholder Management there are now 10 total Knowledge Areas in the 5th Edition (versus 9 in the 4th Edition)
						There are 47 processes in the 5th edition PMBOK Guide, representing a 12% increase over the 42 processes of the 4th edition.
						There are 614 inputs, tools, and outputs (ITOs) in the new edition, representing a 19% increase over the 517 ITOs of the 4th edition.
					%p
						%strong
							Does the courseware offered through PMTraining reflect the latest PMP exam? 
						Yes. All PMP exam prep content, courseware, and classes offered through PMTraining reflect the latest PMP exam put in to place on July 31, 2013. 
				%p
					%em
						%small
							The PMBOK Guide - Fifth Edition (2013) is the definitive reference text for the current PMP exam certification. Students will use the PMBOK Guide to refer to for all PMP Knowledge Areas and process definitions.
				%h5					
					Current PMP Exam Format
				%table.table.table-responsive.table-hover
					%thead
						%tr
							%th.info
								%h5.no-margin-bottom
									Process group
							%th.info
								%h5.no-margin-bottom
									Current exam
					%tbody
						%tr
							%td
								Initiating the project
							%td 
								13.00%
						%tr
							%td
								Planning the project
							%td 
								24.00%
						%tr
							%td
								Executing the project
							%td 
								30.00%
						%tr
							%td
								Monitoring and controlling the project
							%td 
								25.00%
						%tr
							%td
								Closing the project
							%td 
								8.00%
						%tr
							%td
								Professional ethics and social responsibility
							%td 
								Spread across all process groups
						%tfoot
							%td.info
								Total
							%td.info.text-success
								%strong
									100.00%
				%p
					%strong
						More About the PMP Exam Format
					%br
					The PMP exam is designed to objectively assess and measure project management knowledge. Concepts covered in the PMP exam are directly derived from the Project Management Body of Knowledge (PMBOK®) Guide. The PMBOK® Guide is an internationally recognized standard (IEEE Std 1490-2003) which outlines project management fundamentals; and is applicable to a wide range of industries.
				%ul.list-default
					%li
						There are 200 total multiple choice questions which make up the PMP exam
					%li
						25 randomly placed "pre-test questions" are included, and do not count towards the pass/fail determination
					%li
						Individuals have 4 hours to complete the exam
					%li
						Individuals must score 61% or higher to pass the exam (106 of 175 questions)
				.margin-bottom
					%p.no-margin-bottom
						%a.btn.btn-default{:href=>"/public/bootcamp"}
							PMP Bootcamp
						%a.btn.btn-default{:href=>"/public/practice-pmp"}
							PMP Practice Questions
				%p
					%strong
						Exam content reflects the knowledge areas and processes based on the PMBOK® Guide - Fifth Edition
					The ten PMBOK® Knowledge Areas contain a total of 47 processes which are applied to five basic process groups. These five basic process groups, which are common across all projects, are listed below along with the percentage of questions one should expect on the PMP exam:
				%p
					Additionally, our
					%a{:href=>"/public/practice-pmp"} 
						PMP practice exam 
					content includes questions on the overall 
					%strong
						Project Management Framework 
					and 
					%strong
						Professional Responsibility
					, reflecting the real PMP exam. The actual exam is offered in both a computer based testing (CBT) environment, as well as through proctored paper-based exams.
				%p
					%strong
						About the Project Management Professional (PMP) Certification
					The PMP certification is managed by the Project Management Institute (PMI) and reflects the PMI's project management processes as published in the Project Management Body of Knowledge (PMBOK®) Guide. Since 1984, the PMP certification has become one of the most sought after internationally recognized management credentials available. The average salary of a PMP certified manager is 14% higher than individuals without the PMP certification.
				%p
					The PMP certification is a globally recognized credential, and individuals are encouraged to remain active via PMI's Continuing Certification Requirements (CCRs). Only individuals who maintain active PMP credentials may refer to themselves as Project Management Professionals. Individuals do not need to be a member of PMI to earn a PMP credential.
				%p
					%strong
						The following are the minimum requirements in attaining the PMP certification:
				%ul.list-default
					%li
						Education: At a minimum, A high school diploma is required
					%li
						Project management experience:
					%li
						36 months and 4500 hours of professional experience for individuals with a Bachelor's degree or global equivalent (within the past 8 years)
					%li
						60 months and 7500 hours of professional experience for individuals without a Bachelor's degree or equivalent (within the past 8 years)
					%li
						Project Management Education: 35 contact hours of formal education
					%li
						Ethics: Agree to PMI's 
						%a{:href=>"http://www.pmi.org/About-Us/Ethics/Code-of-Ethics.aspx",:target=>"_blank"}
							Code of Ethics 
						and Professional Conduct
					%li
						Pass the PMP Exam
					%li
						For detailed credentialing information, click here to download PMI's 
						%a{:href=>"http://www.pmi.org/Certification/~/media/PDF/Certifications/pdc_pmphandbook.ashx",:target=>"_blank"}
							PMP Credential Handbook.
				%p
					%strong
						The ten PMBOK® Knowledge Areas covered by the PMP exam are listed below.
				%ul.list-default
					%li
						Project Integration Management
					%li
						Project Scope Management
					%li
						Project Time Management
					%li
						Project Cost Management
					%li
						Project Quality Management
					%li
						Project Human Resource Management
					%li
						Project Communications Management
					%li
						Project Risk Management
					%li
						Project Procurement Management
					%li
						Project Stakeholder Management
				%p
					A complete list of all processes, grouped by Knowledge Area, is outlined at the 
					%a{href:"#process"}
						end of this page.
				%p
					%strong
						PMBOK® Guide - Fifth Edition and the PMP Exam
						All PMTraining exam prep content reflects the latest PMP exam version based on the PMBOK® Guide - Fifth Edition
					The most recent version of the PMP® exam was placed into use by PMI® as of July 31, 2013. The PMP exam is based on information contained in the latest PMBOK® Guide—Fifth Edition, which was (officially) released by PMI® on January 1st, 2013.
				%p
					With the current version of the PMBOK® Guide's content, a focus is placed on removing redundant information, and to add clarifying statements where needed. Significant enhancements were made to improve readability, and terminology was updated only to present them consistently in a verb-noun format.
				%p
					%strong
						About the Project Management Institute (PMI)
					The PMI was founded and incorporated in 1969 and has published a number of standards related to project management, including the Project Management Body of Knowledge (PMBOK®) guide. The PMI maintains two colleges: the College of Performance Management and the College of Scheduling. In addition, the PMI maintains a membership of more than 220,000 individuals, including 180,000 PMP-certified individuals in more than 175 countries.
					%a{href:"http://www.pmi.org/",target:"_blank"}
						Visit the PMI Site
				.margin-bottom
					%p.no-margin-bottom
						%a.btn.btn-default{:href=>"/public/bootcamp"}
							PMP Bootcamp
						%a.btn.btn-default{:href=>"/public/practice-pmp"}
							PMP Practice Questions
				%p
					%strong
						Complete PMBOK® Knowledge Areas and Associated Project Management Processes
					The list below outlines the ten Knowledge Areas of the PMBOK - Fifth Edition (latest version), along with their associated 47 management processes. These processes are used throughout the Initiating, Planning, Executing, Controlling and Monitoring, and Closing segments of a project.
				%p.no-margin-bottom
					%strong
						Project Integration Management
				%ul.list-default
					%li
						Develop Project Charter
					%li
						Develop Project Management Plan
					%li
						Direct and Manage Project Work
					%li
						Monitor and Control Project Work
					%li
						Perform Integrated Change Control
					%li
						Close Project or Phase
				%p.no-margin-bottom
					%strong
						Project Scope Management
				%ul.list-default
					%li
						Plan Scope Management
					%li
						Collect Requirements
					%li
						Define Scope
					%li
						Create WBS
					%li
						Validate Scope
					%li
						Control Scope
				%p.no-margin-bottom
					%strong
						Project Time Management
				%ul.list-default
					%li
						Plan Schedule Management
					%li
						Define Activities
					%li
						Sequence Activities
					%li
						Estimate Activity Resources
					%li
						Estimate Activity Durations
					%li
						Develop Schedule
					%li
						Control Schedule
				%p.no-margin-bottom
					%strong
						Project Cost Management
				%ul.list-default
					%li
						Plan Cost Management
					%li
						Estimate Costs
					%li
						Determine Budget
					%li
						Control Costs
				%p.no-margin-bottom
					%strong
						Project Quality Management
				%ul.list-default
					%li
						Plan Quality Management
					%li
						Perform Quality Assurance
					%li
						Control Quality
				%p.no-margin-bottom
					%strong
						Project Human Resource Management
				%ul.list-default
					%li
						Plan Human Resource Management
					%li
						Acquire Project Team
					%li
						Develop Project Team
					%li
						Manage Project Team
				%p.no-margin-bottom
					%strong
						Project Communications Management
				%ul.list-default
					%li
						Plan Communications Management
					%li
						Manage Communications
					%li
						Control Communications

				%p.no-margin-bottom
					%strong
						Project Risk Management
				%ul.list-default
					%li
						Plan Risk Management
					%li
						Identify Risks
					%li
						Perform Qualitative Risk Analysis
					%li
						Perform Quantitative Risk Analysis
					%li
						Plan Risk Responses
					%li
						Control Risks
				%p.no-margin-bottom
					%strong
						Project Procurement Management
				%ul.list-default
					%li
						Plan Procurement Management
					%li
						Conduct Procurements
					%li
						Control Procurements
					%li
						Close Procurements
				%p.no-margin-bottom
					%strong
						Project Stakeholder Management
				%ul.list-default
					%li
						Identify Stakeholders
					%li
						Plan Stakeholder Management
					%li
						Manage Stakeholder Engagement
					%li
						Control Stakeholder Engagement
				.margin-bottom
					%p.no-margin-bottom
						%a.btn.btn-default{:href=>"/public/bootcamp"}
							PMP Bootcamp
						%a.btn.btn-default{:href=>"/public/practice-pmp"}
							PMP Practice Questions
			.col-sm-3
				=partial"/public/about-the-pmp-exam/subnav"
				%hr
				=partial"/public/shared/logo-slider"
				%h6.text-center
					What Our Students Say 
				=partial"/public/shared/testimonial-list", locals: {test_num: 17} 