;;;

"layout": "public",
"title": "More SSL Logic Products",
"right_title": "", 
"activeclass": "about",
"subtitle": "More SSL Logic Products",
"subnav_data": "about_subnav",
"testiminial_data": "testimonials",
"product_data": "products"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"about-pmp-header"}


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"


%section
	.container
		.row
			.col-md-8
				%h2
					SSI Logic Recommended Products
				%p
					SSI Logic's high quality of exam preparation products are relied on by thousands of PMP students across the U.S., Canada, Europe, Australia, and India because they work. Below you will find a list of our top preparation resources: 
				%p
					Learn more about the SSI Logic 
					%a{:href=>"/public/about"}
						exam preparation philosophy
					, or visit the 
					%a{:href=>"http://www.ssilogic.com/", :target=>"_blank"}
						SSI Logic website 
					for a complete list of all exam prep tools.
				%h2
					Books by SSI Logic
				%hr
				- data.send(current_page.data.product_data).books.each do |p|
					=partial"public/about/product", locals: {p: p}
				%h2
					Our Websites
				%hr
				- data.send(current_page.data.product_data).sites.each do |p|
					=partial"public/about/product", locals: {p: p}
				%h2
					iPhone Apps by SSI Logic
				%hr
				- data.send(current_page.data.product_data).apps.each do |p|
					=partial"public/about/product", locals: {p: p}
			.col-md-1
			.col-md-3
				=partial"/public/shared/logo-slider"
				%h6.text-center
					What Our Students Say 
				=partial"/public/shared/testimonial-list", locals: {test_num: 21}
			