;;;

"layout": "public",
"title": "Contact",
"right_title": "", 
"activeclass": "about",
"subtitle": "Contact"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"about-pmp-header"}


%section.no-padding-bottom
	.container
		.row
			.col-sm-7
				%h2
					Questions or Feedback? Contact Us at Anytime
				%p
					%strong
						Questions or feedback about PMTraining
				%ul.list-default
					%li
						Interested in a corporate class, or volume purchase of our training tools?
					%li
						Have a question about one of our courseware products?
					%li
						Would you like to license or re-sell our courseware software?
					%li
						For any and all inquiries, please use the form below.
				%p
					%a.btn.btn-default{:href=>"/public/faqs"}
						read our faqs
					%a.btn.btn-info{:href=>""}
						Forgot your password?
			.col-sm-5 
				=image_tag"public/practice/ui_show_1.png", :class=>"img-responsive margin-auto double-margin-bottom" 
%section.no-padding-top.no-padding-bottom
	.container
		%hr
%section.no-padding-top
	.container
		.row
			.col-sm-7
				.panel.filled
					.panel-heading.primary-color
						%h3.no-margin-bottom
							Use the Form Below to Contact Us
					.panel-body
						%form.form-horizontal{role: "form"}
							.form-group
								%label.col-xs-3.control-label 
									Subject:	
									%span.text-danger
										*
								.col-xs-9
									%select.form-control
										%option
											Interested in corporate training
							.form-group
								%label.col-xs-3.control-label 
									Email:
									%span.text-danger
										*
								.col-xs-9
									%input.form-control
							.form-group
								%label.col-xs-3.control-label 
									Name:
									%span.text-danger
										*
								.col-xs-9
									%input.form-control
							.form-group
								%label.col-xs-3.control-label 
									Company:
								.col-xs-9
									%input.form-control
							.form-group
								%label.col-xs-3.control-label 
									Phone:
								.col-xs-9
									%input.form-control
							.form-group
								%label.col-xs-3.control-label 
									Message:
									%span.text-danger
										*
								.col-xs-9
									%textarea.form-control.margin-bottom{:rows=>"4"}
									%a.btn.btn-default.pull-right{:href=>"onclick: return false;"}
										Submit Your Message
			.col-sm-1
			.col-sm-4
				=image_tag"public/logo_ssi-1.jpg", :class=>"img-responsive margin-auto double-margin-bottom img-thumbnail" 
				%p
					%small
						%strong
							Phone Contact
						%br
						Toll Free within U.S. (800) 581-9819
						International: +1 (240) 206-6049
				%p
					%small
						%strong
							Mailing Address
						%br
						SSI Logic
						PMTraining - Exam Preparation Services
						340 S LEMON AVE # 9038
						WALNUT, CA 91789
			