;;;

"layout": "public",
"title": "About Us",
"activeclass": "about",
"subtitle": "Who We Are",
"subnav_data": "about_subnav"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"about-pmp-header"}


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
%section
	.container
		.row
			.col-md-8
				%h2
					About PMTraining
				%p
					PMTraining is a definitive source for tools and information relating to PMP exam preparation, exam simulation software, sample test questions, sample tests, training courses, and test simulations. Our project management & PMP training materials are adopted from our former brand and site PMPerfect.com, one of the most highly respected online PMP certification preparation resources anywhere. PMTraining is a part of the SSI Logic family.
				%h2
					About SSI Logic
				.row
					.col-md-9
						%p.lead.primary-text-color
							Since 2004, SSI Logic has provided students with professional, high-quality methods of preparing for popular career certifications. There is a reason why our exam preparation products are relied on by thousands of students across the U.S., Canada, Europe, Australia, and India: they work. 
					.col-md-3
						=image_tag'public/logo_ssi.jpg', :class=>"img-circle img-thumbnail"
				%p
					Our team's philosophy is very simple: offer our students and enterprises high quality exam preparation and training tools which are effective and accessible. This boils down to a few key things. Visit the 
					%a{:href=>"http://www.ssilogic.com/", :target=>"_blank"}
						SSI Logic website 
					for a complete list of all exam prep tools. 
				%p
					%strong
						Employ the best subject matter experts in the industry. 
					The SSI Logic team includes multiple subject matter experts and trainers who develop our courseware. Many of our team members wear hats as university professors, corporate trainers, and eLearning experts. 
				%p
					%strong
						Offer highly effective courseware. 
					All of the courseware material developed by our team (or co-developed with our partners) undergoes a thorough quality assurance process, otherwise known as our "Courseware Development Process" (CDP). You should feel comfortable purchasing our courseware product from SSI Logic, because its been reviewed for accuracy multiple times; and continues to be scrutinized by our team. 
				%p
					%strong
						Better learning through technology. 
					By using simple, well-designed technical innovations, we've made it easier than ever for students to take courses, learn material, and measure their knowledge. Technologists at heart, our exam products are offered online through our websites, via mobile apps, and all materials can be accessed without downloading or installing programs. Even our books are printed on-demand, conserving raw materials and improving production time. 
				%p
					%strong
						Offer great prices. 
					We really want you to try our courseware. This is why we offer the most competitive pricing available, and always urge our students to compare our pricing and quality against other. 
				%p
					%strong
						Provide incredible customer service. 
					Like many of our customers, we've waited days for a reply to a simple email question from customer support teams. And we also get frustrated when trying to find whom to contact when visiting websites. If you contact us, we'll do what it takes to be responsive and accurate. We do our best to respond to customers quickly and effectively. 
				%p
					%strong
						We use the products we sell. 
					Every member of our team has used the courseware we sell to become certified. At a minimum, every SSI Logic team member is required to earn a certification using the courseware we sell. 
				%p
					%strong
						Do not set unrealistic expectations. 
					Many students are looking for a silver bullet to earn their certification. While we believe our exam prep tools are unmatched in quality and effectiveness, we also know that it is up to the student to apply themselves to fully learn and understand the content. You will never see us making wild claims about our courseware products. 
				%p
					%strong
						Professional. Measurable. 
					Realistic. All of our exam preparation products offer a means of measuring your performance, so you understand how ready you are for the real thing.
			.col-md-4
				.padded.border-left.no-padding-top
					%h2
						The Founder
					.row
						.col-lg-4
							=image_tag'public/bio_photo_cs.png', :class=>"img-circle img-thumbnail margin-bottom"
						.col-lg-8
							%p.base-line-height
								%strong
									%small
										Christopher Scordo 
										%small
											PMP, ITIL 
					%p   
						%small
							Chris is the founder and Managing Director of SSI Logic. He is the author of multiple best-selling exam prep books and is heavily involved in the innovative technology used to implement courseware through SSI Logic's web sites, mobile apps, and publications. 
					%p
						%small
							Under Christopher's direction, SSI Logic's exam preparation books and software systems are relied on by a global audience of training organizations and corporate enterprises who seek to prepare and assess students. Mr. Scordo is a member of the Project Management Institute (PMI), and has developed the curriculum, content, and tools used to prepare thousands of professionals. Christopher continues to consult and manage projects across multiple industries and niches; including federal systems, Health IT, emergency preparedness, and application development. 
					%p
						%small
							He maintains a broad client portfolio of both government and private sector clients and loves helping students achieve their goals. When he's not developing new training products, Christopher can be found playing competitive tennis, traveling, and enjoying life with his wife and new son.


				


                           