%footer#footer
	.container
		.row
			.col-sm-3
				=image_tag'logo_no_tag.png'
				%p
					%small
						© 
						%a{:href=>"http://ssilogic.com/"}
							SSILogic 
						2014
				=image_tag'pmi_logo_3.png',:class=>"pmi-logo"
				%p.bold-font-name
					%small
						\#3962
			.col-sm-2
				%h6.half-margin-bottom
					about
				%ul.list-unstyled
					%li
						%a{:href=>"http://ssilogic.us1.list-manage1.com/subscribe?u=49a39df0bbdcb06004bfed7de&id=42ef79129f",target:"_blank"}
							Newsletter 
					%li
						%a{:href=>"/public/about-the-pmp-exam"}
							About Us 
			.col-sm-3
				%h6.half-margin-bottom
					more info
				%ul.list-unstyled
					%li
						%a{:href=>"/public/faqs#disclaimer"}
							Disclaimer   
					%li
						%a{:href=>"/public/about/books"}
							PMI-ACP Exam Prep
					%li
						%a{:href=>"http://pmperfect.affiliateharvest.com/",:target=>"_blank"}
							PMTraining Affiliate Program 
			.col-sm-2
				%h6.half-margin-bottom
					exams
				%ul.list-unstyled
					%li
						%a{:href=>"/public/about/books"}
							CISSP Practice Exams  
					%li
						%a{:href=>"/public/about/books"}
							PMI-ACP Exam Prep
					%li
						%a{:href=>"/public/about/books"}
							ITIL Practice Exams 
			.col-sm-2
				%h6.half-margin-bottom
					contact
				%ul.list-unstyled
					%li
						%a{:href=>"/public/about/contact"}
							Contact Us 
					%li.social-links
						%a.social-font-name.facebook{:href=>"https://www.facebook.com/SSILOGICNEWS",:target=>"_blank"}F
						%a.social-font-name.twitter{:href=>"https://twitter.com/ssilogicnews",:target=>"_blank"}T
						%a.social-font-name.linkedin{:href=>"http://www.linkedin.com/company/ssi-logic",:target=>"_blank"}I


//classes
#showClassModal.modal.fade{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog.modal-lg
		.modal-content
//bootcamp
#showBootcampModal.modal.fade{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog.modal-lg
		.modal-content

//demo
#demoModal.modal.fade{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog.modal-lg
		.modal-content



	