%header.main-nav
	.container
		.row.margin-bottom
			.col-lg-12
				.pull-left
					=image_tag'public/logo_2.png',:class=>"img-responsive pull-right quarter-margin-left", :width=>"388px" , :style=>"position:relative; top:8px;"

                



