=partial"/public/shared/navbar-mobile"
#hidden-menu.main-nav.hidden-xs.main-nav-fixed
	.container
		.col-lg-12
			=partial"/public/header/main-nav-container" 
%header.main-nav.hidden-xs.main-nav-top
	.container
		.row.margin-bottom
			.col-lg-12
				.pull-left
					%a.logo_two{:href=>"/"}
				=image_tag'pmi_logo.png',:class=>" hidden-sm pull-right quarter-margin-left", :width=>"60px" , :style=>"position:relative; top:-8px;"
				%nav.pull-right
					%ul.list-inline.sub-links
						%li
							%a{:href=>"/public/about-the-pmp-exam"}
								PMP Exam Updates 
						%li
							%a{:href=>"/public/login"}
								Member Login 
						%li
							%a{:href=>"/public/about/contact"}
								Contact & Support 
		.row
			.col-lg-12
				=partial"/public/header/main-nav-container"                     



