.buy-block.sale-tag
	.buy-block-card
		%img.full-width{:src=>"/images/public/thumb-bulk-vouchers.png"}
		.price.d-flex.justify-space-between.padding-top.padding-bottom
			.price-left.medium-font-name
				%span.line-through.light-text-color.body-large.quarter-margin-right.old-price-text
					$1,398
				%span.text-danger.price-text
					$898
				%span.dark-text-color.bold-font-name.body-medium.seat-text
					\/seat
			.price-right
				.label.label-success.label-save
					Save 20%
		.forms
			.selector.half-margin-bottom
				%p.body-small.dark-text-color.quarter-margin-bottom
					Course type
				%select.form-control.input-lg.input-dark
					%option
						PMP
					%option
						CAPM
					%option
						PgMP

					
			.selector
				%p.body-small.dark-text-color.quarter-margin-bottom
					Quantity
				%input.form-control.input-lg.input-dark{:type=>"text", :placeholder=>"100"}
				%p.micro-text.quarter-margin-top.text-right
					2 seats minimum
		%a.btn.btn-lg.btn-block.btn-default{:href=>"#"}
			Add to cart
		%p.micro-text.text-center.half-margin-top.no-margin-bottom
			Voucher codes emailed immediately after checkout.
		%hr.half-margin-bottom
		%p.no-margin-bottom.dark-text-color.text-center
			Need approval? 
			%a.bold-font-name{:href=>"#"}
				Get a quote
	.text-center.half-margin-top
		%img.max-width.hidden-xs{:src=>"/images/public/buy-block-sizzle.png", :width=>"270px"}
		%p.dark-text-color.bold-font-name.half-margin-top.no-margin-bottom
			Questions? Chat now or call 
			%span.link-color
				1-800-581-9819