;;;

"layout": "public",
"title": "Purchase bulk vouchers"


;;;



	






%section.invert-section.invert-darker
	.container
		.row
			.col-sm-7
				%p.body-large.bold-font-name.quarter-margin-bottom.light-accent-text-color
					Buy Class Vouchers
				%h1.bold-font-name.half-margin-bottom.text-center-sm
					Train your team on their schedule
				%p.body-large.no-margin-bottom
					Purchase vouchers for 2+ employees at a fixed per-seat price. Your team can redeem vouchers later for any public live class in the certification you choose—PMP, CAPM, PgMP, and more.
			.col-sm-5
				




%section
	.container
		.row
			.col-sm-5.col-sm-push-7.buy-block-container
				.buy-block-wrapper
					=partial('buy-block')
			.col-sm-7.col-sm-pull-5
				.promo-section.border-bottom.padding-bottom
					%p.body-large.dark-text-color.bold-font-name.promo-header.half-margin-bottom
						Project Management Institute® Authorized Training Partner (ATP)
					%img{:src=>"/images/public/icons-2.png", :width=>"330px"}
				.promo-section.border-bottom.padding-bottom.padding-top
					%p.body-large.dark-text-color.bold-font-name.promo-header
						Course features
					.row
						-2.times do
							.col-sm-6
								%ul.list-checks.no-margin-bottom
									-3.times do
										%li.half-margin-bottom{:style=>"font-size:1em;"}
											%p.no-margin-bottom.dark-text-color
												Live, instructor-led certification training
										
				.promo-section.border-bottom.padding-bottom.padding-top
					%p.body-large.dark-text-color.bold-font-name.promo-header
						Why buy class vouchers?
					.row
						-3.times do
							.media
								.pull-left
									%img.quarter-margin-left{:src=>"/images/public/icon-bolt.svg", :width=>"33px"}
								
								.media-body.text-left
									%p.no-margin-bottom.dark-text-color.bold-font-name
										Fast, easy ordering
										%span.text-color.regular-font-name
											\: Purchase in minutes
									%p.half-margin-bottom
										Buy training for multiple employees in minutes—no scheduling back-and-forth.
				.promo-section.border-bottom.padding-bottom.padding-top
					%p.body-large.dark-text-color.bold-font-name.promo-header
						How it works
					.row
						-3.times do
							.media
								.pull-left
									%img.half-margin-left{:src=>"/images/public/icon-1.svg", :width=>"30px"}
								
								.media-body.text-left
									%p.no-margin-bottom.dark-text-color.bold-font-name
										Choose your course type + quantity
									%p.half-margin-bottom
										Select the certification your team needs (PMP, CAPM, PgMP, etc.) and purchase 2+ seats.
				.promo-section.border-bottom.padding-bottom.padding-top
					.panel.success-gradient.no-margin-bottom
						.panel-body.padded
							.text-center
								%img{:src=>"/images/public/live/money-back.png", :width=>"156px"}
								%p.bold-font-name.dark-text-color.half-margin-bottom.body-large
									Buy with confidence—every voucher is backed by our money-back guarantee
								%p.dark-text-color.body-medium
									%span.bold-font-name
										94% 
									of students recommend PMTraining
								.row.double-margin-top
									-2.times do
										.col-sm-6
											.margin-bottom
												%img.half-margin-bottom{:src=>"/images/public/badge-customer.svg", :width=>"135px"}
												%p.micro-text.light-text-color
													All PMTraining classes use PMI-approved materials. Our content is continuously reviewed and quality-checked across both live and online learning.
				.promo-section.border-bottom.padding-bottom.padding-top
					%p.body-large.dark-text-color.bold-font-name.promo-header.quarter-margin-bottom
						Frequently asked questions
					%p
						Answers to our most frequently asked questions related to vouchers
					#accordion.panel-group.faq-accordian.no-margin-bottom
						-4.times do |count|
							.panel.panel-default.no-border
								.panel-heading.no-padding.no-border
									.panel-title
										%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-#{count}"}
											.icon-wrapper
												%span.fa.fa-caret-down.faq-icon
											.question-wrapper
												%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
													What is the best way to prepare for the PMP exam?
								.panel-collapse.collapse{:id=>"collapse-#{count}"}
									.panel-body.no-padding-left
										%p.no-margin-bottom
											The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.
				.promo-section.border-bottom.padding-bottom.padding-top
					.text-center
						%p.body-large.dark-text-color.bold-font-name.promo-header
							Trusted by teams at leading organizations
						%img.half-margin-bottom.max-width{:src=>"/images/public/promo-logos.png"}
				.promo-section.padding-bottom.padding-top
					.half-padding-bottom
						%p.body-large.dark-text-color.bold-font-name.promo-header.no-margin-bottom
							Most helpful reviews
						%p.body-medium
							%img{:src=>"/images/public/testimonial-stars.svg", :width=>"96px"}
							Real reviews, real results
					-2.times do
						.row
							-2.times do
								.col-sm-6
									.promo-testimonial.border-bottom.margin-bottom
										.promo-testimonial-header.half-margin-bottom.d-flex.justify-space-between
											.promo-testimonial-avatar
												.media
													.pull-left
														%img{:src=>"/images/public/testimonial-avatar.svg", :width=>"50px"}
													
													.media-body.text-left
														%p.body-small.no-margin-bottom.dark-text-color.bold-font-name
															Jarred T.
														%p.micro-text.no-margin-bottom.light-text-color
															PMP
											.promo-testimonial-verified
												%img.max-width{:src=>"/images/public/verified-review.svg", :width=>"100px"}
										.promo-testimonial-body
											%p.dark-text-color
												=lorem.words(40)
		.row.buy-block-stop{:style=>"width:100%; height:10px; background:red;"}

			
				
				
				


				
				


                           
