;;;

"layout": "modal_small"
  
;;;



.padded
	.modal-header
		%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button", :style=>"left:10px; bottom:20px;"} ×
		%h3.modal-title 
			Live Online PMP Class (Tues / Thurs Evenings)
	.modal-body
		.row
			.col-sm-6
				%table.table.mid-align
					%tbody
						%tr
							%td.text-left.light-text-color
								Class cost
							%td.text-right.light-text-color
								$1,200
						%tr
							%td.text-left.light-text-color
								PMI student license
								%i.fa.fa-info-circle.light-text-color.tooltip-up{"data-toggle"=>"tooltip", :title=>"Explain this here"}
							%td.text-right.light-text-color
								$99

						%tr
							%td.text-left
								%h3.dark-text-color.bold-font-name
									Total
							%td.text-right.light-text-color
								%h4.no-margin
									%span.line-through
										$1,400
									%span.text-danger
										20% off
								%h3.no-margin
									%span.text-danger
										$1249

				%p.no-margin-bottom.micro-text
					%br
					Class Time: 
					%strong
						8PM to 10PM (EST) 
					%br
					Class Days: 
					%strong
						Tues / Thurs Evenings 
					%br
					Class Dates: 
					%strong
						Tuesday, Jul 08 - Thursday, Aug 21 
			.col-sm-6	
				.well
					%p.half-margin-bottom
						%strong	
							Included with your class enrollment:
						%ul.list-primary-color
							%li
								Live online class taught by PMI R.E.P.
							%li
								Exam pass guarantee
							%li
								All PMP courseware and study materials
							%li
								PMTraining Online exam prep system
							%li
								Focused PMP certification curriculum 
							%li
								35 PMI Contact Hours included with course
					
				=image_tag'pmi_logo.png',:class=>"margin-bottom" 
		.row
			.col-lg-12
				%a.btn.btn-success.btn-block.margin-bottom.btn-lg{:href=>"/public/checkout"}   
					Enroll Now 
				%p.micro-text.quarter-margin-bottom
					%strong
						Delivered over six weeks, two evenings a week (Tuesdays and Thursdays) for two hours per session!
				%p.micro-text 
					Guaranteed to Pass, 35 contact hours included, Course guide, exam application guidance, Online training system included, and much more. Instant email confirmation and instructor follow-up within 1 business day. Experienced Instructor and Project Manager Lee Cooper (PMP, CKM, ITIL) will be conducting this class online. Access software and dial-in provided. 
