:javascript
	$(function () {
	        $('#quick-stat-chart').highcharts({
	            chart: {
	                type: 'column',
	                backgroundColor: '#fff'
	            },
	            colors: [
								'#3abff1',
							],
	            title: {
	                text: ''
	            },
	            subtitle: {
	                text: ''
	            },
	            legend: {
	                enabled: false
	            },
	            xAxis: {
	                categories: ['Mon. Aug 12, 2014'],
	                title: {
	                    text: null
	                }
	            },
	            yAxis: {
	                min: 0,
	                max: 100,
	                tickPixelInterval: 120,
	                labels: {
	                    overflow: 'justify'
	                },
	                title: {
	                    enabled: false
	                }
	            },
	            tooltip: {
	                valueSuffix: ' %'
	            },
	            plotOptions: {
	                bar: {
	                    dataLabels: {
	                        enabled: true
	                    },
	                },
									series: {
										pointWidth: 100
									}
	            },
	            credits: {
	                enabled: false
	            },
	            series: [{
	            		name: 'preformance',
	                data: [86.24]
	            }]
	        });
	    });
#quick-stat-chart
