%nav.navbar.navbar-default.navbar-fixed-top.backend-main-nav{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/dashboard"}
        .logo
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li{:class => (current_page.data.activeclass === "dashboard") ? "active" : ""}
          %a.navbar-item{href: "/dashboard"} 
            Dashboard
        %li{:class => (current_page.data.activeclass === "preformance") ? "active" : ""}
          %a.navbar-item{href: "/preformance"} 
            My Preformance
        %li
          %a.navbar-item.btn.btn-primary{href: "/tests"} 
            Take a Test
      %ul.nav.navbar-nav.navbar-right
        / %li{:class => (current_page.data.activeclass === "bootcamp") ? "active" : ""}
        /   %a.navbar-item.navbar-item-muted{href: "/bootcamp"} 
        /     On Demand Bootcamp
        %li{:class => (current_page.data.activeclass === "administration") ? "active" : ""}
          %a.navbar-item.navbar-item-muted{href: "/administration"} 
            Administration
        / %li{:class => (current_page.data.activeclass === "support") ? "active" : ""}
        /   %a.navbar-item.navbar-item-muted{href: "/support/faqs"} 
        /     Support
        / %li{:class => (current_page.data.activeclass === "live") ? "active" : ""}
        /   %a.navbar-item.navbar-item-muted{href: "#"} 
        /     Live PMP Classes
        %li.dropdown
          %a.dropdown-toggle.navbar-item{"data-toggle" => "dropdown", href: "#"}
            = image_tag ("no_avatar_sm.png"), :class=>"img-circle avatar-sm quarter-margin-right pull-left", :width => "25px"
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/account"} 
                My Account
            %li
              %a{href: "/public/login"} 
                Sign Out