.checkout-totals
	.checkout-totals-row
		%span 
			Subtotal (3 items)
		%strong.bold-font-name
			$4,494
	.checkout-totals-row
		%span 
			Promo discount
		%strong.checkout-discount.bold-font-name
			\-$600

	.checkout-total-row
		%span.bold-font-name
			Total:
		.checkout-total-nums
			%span.checkout-total-old 
				$4,494
			%span.checkout-total-new 
				$3,894