%table.table.table-responsive
  %tbody
    %thead
      %tr
        %th.info{:style=>"width:20%;"}
          Item
        %th.info
          Description
        %th.info
          Cost
        %th.info{:style=>"width:15%;"}

    %tr
      %td
        %strong
          PMP Practice Exams 
        =image_tag'public/practice_exam.png', :class=>"img-responsive"
      %td
        Unlimited 90-day access to exceptionally realistic PMP practice exams; 1,000+ realistic exam questions, including 21 condensed PMP mock exams; 10 PMBOK tests; personalized reporting, and more
      %td
        %strong
          $59.00
      %td.text-center
        %a.text-danger.link-underline{:href=>"#"}
          Remove
    %tr
      %td
        %strong
          On Demand Course
        =image_tag'public/on_demand_courses.png', :class=>"img-responsive"
      %td
        Unlimited 90-day access to exceptionally realistic PMP practice exams; 1,000+ realistic exam questions, including 21 condensed PMP mock exams; 10 PMBOK tests; personalized reporting, and more
      %td
        %strong
          $59.00
      %td.text-center
        %a.text-danger.link-underline{:href=>"#"}
          Remove
    %tr
      %td
        %strong
          Live Classes
        =image_tag'public/live_classes.png', :class=>"img-responsive"
      %td
        Unlimited 90-day access to exceptionally realistic PMP practice exams; 1,000+ realistic exam questions, including 21 condensed PMP mock exams; 10 PMBOK tests; personalized reporting, and more
      %td
        %strong
          $59.00
      %td.text-center
        %a.text-danger.link-underline{:href=>"#"}
          Remove

         