.checkout-savings-pill 
	You save 
	%span.extra-bold-font-name
		$600 
	today!

%a.btn.btn-default.btn-lg.checkout-cta{ :href=>"/public/checkout/confirm" } 
	Complete registration

.checkout-secure
	%span.checkout-lock 
		%i.material-symbols-outlined
			lock
	%span 
		Your payment is secure

.checkout-badges
	%img{:src=>"/images/public/checkout/checkout-badges.png", :width=>"260px"}
	