.checkout-savings-pill 
	You save 
	%span.extra-bold-font-name
		$600 
	today!

%button.btn.btn-default.btn-lg.checkout-cta{ type: "button" } 
	Complete registration

.checkout-secure
	%span.checkout-lock 
		%i.material-icons
			lock
	%span 
		Your payment is secure

.checkout-badges
	%img{:src=>"/images/public/checkout/checkout-badges.png", :width=>"260px"}
.margin-top
	.promo-testimonial.margin-bottom
		.promo-testimonial-header.half-margin-bottom.d-flex.justify-space-between
			.promo-testimonial-avatar
				.media
					.pull-left
						%img{:src=>"/images/public/testimonial-avatar.svg", :width=>"40px"}
					
					.media-body.text-left
						%p.body-small.no-margin-bottom.dark-text-color.bold-font-name
							Jarred T.
						%p.micro-text.no-margin-bottom.light-text-color
							PMP
			.promo-testimonial-verified
				%img.max-width{:src=>"/images/public/verified-review.svg", :width=>"100px"}
		.promo-testimonial-body
			%p.dark-text-color.body-small
				“Thank you for your help yesterday!! I ran through the simulation exam - it showed me where I needed to brush up. I took the test today and Passed!!!"