;;;

"layout": "checkout",
"title": "Checkout"

;;;


.checkout-page
	.hidden-md.hidden-lg
		%a.order-expander-outer{:href=>"#"}
			.order-expander
				.container.order-expander-container
					.summary-info-row
						%span.bold-font-name.d-flex
							Your purchase
							%i.material-symbols-outlined.expand-icon
								keyboard_arrow_down
						.checkout-total-nums
							%span.checkout-total-old 
								$4,494
							%span.checkout-total-new 
								$3,894
	.checkout-split
		.container.checkout-container
			.row.checkout-row.checkout-row--mobile-reverse
				.col-xs-12.col-md-7.checkout-left
					.checkout-left-inner
						.checkout-hero
							%h3.bold-font-name.d-flex
								%img.quarter-margin-right{:src=>"/images/public/checkout/check.svg"}
								Thank you
						.checkout-block
							.panel.confirm-panel.panel-success
								%p.quarter-margin-bottom.bold-font-name.dark-text-color
									Your account is activated.
								%p.body-small.no-margin-bottom
									%span.bold-font-name
										We’ve emailed your login details.
									check spam if you don’t see it. 
									%a{:href=>"#"}
										Visit login page
							.panel.confirm-panel
								%p.half-margin-bottom.bold-font-name.dark-text-color
									Account summary
								.account-info

									.info-item
										%p.body-small.dark-text-color.bold-font-name.no-margin-bottom
											First name
										%p.body-small.no-margin-bottom
											John
									.info-item
										%p.body-small.dark-text-color.bold-font-name.no-margin-bottom
											Last name
										%p.body-small.no-margin-bottom
											Doe
									.info-item
										%p.body-small.dark-text-color.bold-font-name.no-margin-bottom
											Email
										%p.body-small.no-margin-bottom
											johndoe.com
									.info-item
										%p.body-small.dark-text-color.bold-font-name.no-margin-bottom
											Password
										%p.body-small.no-margin-bottom
											Pa$$word123
							%a.btn.btn-primary.btn-lg.btn-block.half-margin-bottom{:href=>"#"}
								Continue
							%a.btn.btn-info.btn-lg.btn-block.btn-icon{:href=>"#"}
								%i.material-symbols-outlined.expand-icon
									print
								Print page
							.checkout-divider
								%span.checkout-divider-label 
									Before you go…
							.panel.confirm-panel.survey-panel
								%p.quarter-margin-bottom.bold-font-name.dark-text-color
									How did you hear about us?
								%select.form-control
									%option
										PMI.org
								.text-right.quarter-margin-top
									%a.btn.btn-link.no-padding-right{:href=>"#"}
										Submit


						



				.col-xs-12.col-md-5.checkout-right.summary-closed
					.checkout-right-inner
						.visible-md.visible-lg
							%p.body-large.quarter-margin-bottom.bold-font-name.dark-text-color
								Your purchase
						.checkout-summary-list-outter
							.checkout-summary-list{:style=>"max-height:100%;"}
								- 3.times do
									.checkout-summary-item.no-remove
										.checkout-thumb
											%img{:src=>"/images/public/checkout/Practice-exam-PMP.png"}
										.checkout-item-meta
											%div.checkout-item-name 
												Live online PMP class or a title that runs two lines long
											%div.checkout-item-sub 
												Mar 02–Mar 04, 8AM–3PM
										.checkout-item-price
											%div.checkout-item-old 
												$1,498
											%div.checkout-item-new 
												$1,298

						=partial"checkout-totals"
						

