;;;

"layout": "public",
"title": "Checkout",
"subtitle": "Checkout",
"testiminial_data": "testimonials"

;;;



%section
	.container
		.col-lg-2.col-md-1
		.col-lg-8.col-md-10
			.row.margin-bottom
				.col-sm-12.text-center
					%img.quarter-margin-bottom{:src=>"../../images/payment-check.svg"}
					%h2.dark-text-color.bold-font-name.quarter-margin-bottom
						Thanks, John!
					%p.dark-text-color
						Your payment has been successfully processed. A confirmation email with your new account information has been sent to 
						%strong
							john@doe.com.
			.row.margin-bottom
				.col-sm-12
					%h4.bold-font-name.dark-text-color
						Account details
					%dl.dl-horizontal
						%dt.text-left
							Email
						%dd
							john@doe.com
						%dt.text-left
							Name
						%dd
							John Doe
						%dt.text-left
							Password
						%dd
							jjdoe100
			.row.margin-bottom
				.col-sm-12
					%h4.bold-font-name.dark-text-color
						You have purchased the following items
					.panel
						.padded
							.row.padding-bottom.border-bottom.margin-bottom
								.col-sm-9

									%h5.no-margin-bottom.primary-text-color
										Live Online PMP Classes (Tues/Thurs Evenings)
									%p.no-margin-bottom
										%small
											Your course is activated and ready to use.
								.col-sm-3
									%a.btn.btn-block.btn-primary{:href=>"#"}
										Start course
							.row
								.col-sm-9

									%h5.no-margin-bottom.primary-text-color
										PMI student license
									%p.no-margin-bottom
										%small
											Check your account with instructions on how to activate
								.col-sm-3
			.row.double-margin-bottom
				.col-sm-12
					%h4.bold-font-name.dark-text-color.no-margin-bottom
						Questions?
					%p.no-margin-bottom
						%small
							Feel free to 
							%a{:href=>"#"}
								contact us 
							anytime with questions about your purchase
			.row.margin-bottom
				.col-sm-12
					%h4.bold-font-name.dark-text-color.half-margin-bottom
						How did you hear about us?
					.row
						.col-xs-8.col-sm-9
							%select.input-lg.form-control
								%option
									Google Search
								%option
									Google Search
								%option
									Google Search
						.col-xs-4.col-sm-3
							%a.btn.btn-info.btn-block.btn-lg{:href=>"#", :style=>"top:3px;"}
								%small
									Submit
			.row.margin-bottom
				.col-sm-12
					%h4.bold-font-name.dark-text-color.half-margin-bottom
						Referred by a friend?
					.row
						.col-xs-8.col-sm-9
							%input.input-lg.form-control{:placeholder=>"Enter their email"}
								
						.col-xs-4.col-sm-3
							%a.btn.btn-info.btn-block.btn-lg{:href=>"#", :style=>"top:3px;"}
								%small
									Submit

									
		.col-lg-2.col-md-1

				



				