;;;

"layout": "public",
"title": "Checkout",
"subtitle": "Checkout",
"activeclass": "checkout",
"testiminial_data": "testimonials"

;;;




%section
	.container
		.flex-row
			.flex-col-12.flex-col-md-6
				=lorem.words(100)
			.flex-col-12.flex-col-md-6
				=lorem.words(100)