;;;

"layout": "checkout",
"title": "Checkout"

;;;


.checkout-page
	.hidden-md.hidden-lg
		%a.order-expander-outer{:href=>"#"}
			.order-expander
				.container.order-expander-container
					.summary-info-row
						%span.bold-font-name.d-flex
							Order summary
							%i.material-symbols-outlined.expand-icon
								keyboard_arrow_down
						.checkout-total-nums
							%span.checkout-total-old 
								$4,494
							%span.checkout-total-new 
								$3,894
	.checkout-split
		.container.checkout-container
			.row.checkout-row.checkout-row--mobile-reverse
				.col-xs-12.col-md-7.checkout-left
					.checkout-left-inner
						.checkout-hero
							%h3.bold-font-name
								You’re one step away from leveling up your career!

						.checkout-block
							%p.body-large.dark-text-color.bold-font-name.quarter-margin-bottom
								Student details
							%p.body-small
								Following checkout, your account will be activated and an email receipt will be dispatched.

							.row.checkout-field-row
								.col-xs-12.col-sm-6
									.form-group
										%input.form-control.input-lg{ type: "text", placeholder: "Student first name" }
								.col-xs-12.col-sm-6
									.form-group
										%input.form-control.input-lg{ type: "text", placeholder: "Student last name" }

							.form-group.has-error
								%input.form-control.input-lg{ type: "email", placeholder: "Student email" }
								%span.form-helper.error
									Enter a valid email


							.form-group
								%input.form-control.input-lg{ type: "tel", placeholder: "Contact phone" }

						.checkout-block
							%p.body-large.dark-text-color.bold-font-name.no-margin-bottom
								Payment details

							.checkout-divider
								%span.checkout-divider-label 
									Express checkout

							.checkout-express-grid
								%button.btn.checkout-express-btn.checkout-express-btn--apple{ type: "button" } 
									Apple Pay
								%button.btn.checkout-express-btn.checkout-express-btn--paypal{ type: "button" } 
									PayPal
								%button.btn.checkout-express-btn.checkout-express-btn--paylater{ type: "button" } 
									Pay Later
								%button.btn.checkout-express-btn.checkout-express-btn--amazon{ type: "button" } 
									amazon pay
								%button.btn.checkout-express-btn.checkout-express-btn--venmo{ type: "button" } 
									venmo
								%button.btn.checkout-express-btn.checkout-express-btn--gpay{ type: "button" }
									G Pay

							.checkout-divider
								%span.checkout-divider-label 
									Or

							.checkout-card
								.form-group
									.checkout-input-with-icons
										%input.form-control.input-lg{ type: "text", placeholder: "Card number" }
										.checkout-card-icons
											%img{:src=>"/images/public/checkout/checkout-cards.svg", :width=>"160px"}

								.row
									.col-xs-12.col-sm-6
										.form-group
											%input.form-control.input-lg{ type: "text", placeholder: "Expiration (MM/YY)" }
									.col-xs-12.col-sm-6
										.form-group
											.checkout-input-with-help
												%input.form-control.input-lg{ type: "text", placeholder: "Security code" }
												%span.checkout-help
													%i.material-symbols-outlined.bas-tooltip{"data-toggle"=>"tooltip", "data-placement"=>"left", :title=>"The 3–4 digit code printed on your card."}
														help
											

								.form-group
									%input.form-control.input-lg{ type: "text", placeholder: "Name on card" }

							.checkout-divider
								%span.checkout-divider-label 
									Pay later with Affirm

							.checkout-affirm
								%button.btn.checkout-affirm-btn{ type: "button" } 
									affirm Monthly payments
								%p.checkout-affirm-sub
									Starting at $103/mo.
									%a{ href: "#", role: "button" } Check your purchasing power
						.hidden-md.hidden-lg
							.border-top
								=partial"checkout-totals"
								=partial"complete-checkout-action"



				.col-xs-12.col-md-5.checkout-right.summary-closed
					.checkout-right-inner
						.visible-md.visible-lg
							%p.body-large.quarter-margin-bottom.bold-font-name.dark-text-color
								Summary
						.checkout-summary-list-outter
							.scroll-for-more
								Scroll for more items
								%i.material-symbols-outlined
									arrow_downward
							.checkout-summary-list
								- 6.times do
									.checkout-summary-item
										%a.checkout-remove{:href=>"#", aria: { label: "Remove item" } } 
											%i.material-symbols-outlined
												cancel
										.checkout-thumb
											%img{:src=>"/images/public/checkout/Practice-exam-PMP.png"}
										.checkout-item-meta
											%div.checkout-item-name 
												Live online PMP class or a title that runs two lines long
											%div.checkout-item-sub 
												Mar 02–Mar 04, 8AM–3PM
										.checkout-item-price
											%div.checkout-item-old 
												$1,498
											%div.checkout-item-new 
												$1,298

						=partial"checkout-totals"
						.visible-md.visible-lg
							=partial"complete-checkout-action"
							=partial"test-slider"
						

