;;;

"layout": "public",
"title": "Checkout"

;;;



.shopping-cart
	%section.checkout-split
		.container
			.flex-row
				.flex-col-12.flex-col-md-7
					=lorem.words(100)
				.flex-col-12.flex-col-md-5
					=lorem.words(100)

