;;;

"layout": "public"

;;;


%section.invert-section.page-header-section
	.container
		.row
			.col-lg-12
				%h2.no-margin-bottom.pull-left
					Professional Development Units (PDUs)®
				

%section
	.container
		.row
			.col-sm-6.col-md-6.col-lg-6
				%h2
					%span.bold-font-name
						Earn up to 60 PDUs 
					%br
					On-Demand PDU Courses Available 24x7
					
					
				
				%p.no-margin-bottom
					%strong
						Earn all 60 of your PDU credits in one place.
				%p
					Our On-Demand PDU courses in project management are designed to reinforce key PM concepts and instill new best practices, while earning up to 60 PDU credits. Access course lessons without limitation, from any computer with a web browser. Includes studio quality course lessons, up to 60 PDU credits, all study materials, exercises, PM tools and much more.
				%p.no-margin-bottom
					%strong
						Eligible PDU Credits
				%p
					Up to 60 PDUs 
					%br
					PMI R.E.P. #3962 
				%p.no-margin-bottom
					%strong
						Eligible PDU Credits
				%p
					Up to 60 PDUs 
					%br
					PMI R.E.P. #3962 
				%p.no-margin-bottom
					%strong
						Eligible PDU Credits
				%p
					Up to 60 PDUs 
					%br
					PMI R.E.P. #3962 





			.col-md-1.col-lg-2
			.col-sm-6.col-md-5.col-lg-4
				=image_tag"public/pdu.png", :class=>"img-responsive margin-auto margin-bottom margin-top" 
				.margin-auto.text-center
					.inline-block
						%h1.bold-font-name.dark-text-color.pull-left.half-margin-right{:style=>"top:19px; position:relative;"}
							$81.00
						
					.inline-block
						%h4.quarter-margin-bottom.pull-left.light-text-color
							%span.medium-font-name 
								%span.line-through
									$58.00
								40% off
							%br
							%span.text-success.extra-bold-font-name{:style=>"font-size:.8em;"}
								Save $33 instantly
				.buy-options
					.list-group
						.list-group-inner
							%input#Radio1{:name => "RadioInputName", :type => "radio", :value => "Value1", :checked=>"checked"}/
							%label.list-group-item{:for => "Radio1"}
								.inline-block
									%p.no-margin-bottom.regular-font-name
										%span.extra-bold-font-name.quarter-marign-right
											7 PDUS
										Project Quality Management
									%h5.no-margin-bottom.text-color
										%span.quarter-margin-right
											$88.00
										%span.light-text-color.medium-font-name
											%span.line-through
												$153.00 
											%span.light-text-color
											40% off

						.list-group-inner
							%input#Radio2{:name => "RadioInputName", :type => "radio", :value => "Value2"}/
							%label.list-group-item{:for => "Radio2"} 
								.inline-block
									%p.no-margin-bottom.regular-font-name
										%span.extra-bold-font-name.quarter-marign-right
											7 PDUS
										Project Quality Management
									%h5.no-margin-bottom.text-color
										%span.quarter-margin-right
											$88.00
										%span.light-text-color.medium-font-name
											%span.line-through
												$153.00 
											%span.light-text-color
											40% off
						.list-group-inner
							%input#Radio3{:name => "RadioInputName", :type => "radio", :value => "Value2"}/
							%label.list-group-item{:for => "Radio3"} 
								.inline-block
									%p.no-margin-bottom.regular-font-name
										%span.extra-bold-font-name.quarter-marign-right
											7 PDUS
										Project Quality Management
									%h5.no-margin-bottom.text-color
										%span.quarter-margin-right
											$88.00
										%span.light-text-color.medium-font-name
											%span.line-through
												$153.00 
											%span.light-text-color
											40% off
						.list-group-inner
							%input#Radio4{:name => "RadioInputName", :type => "radio", :value => "Value2"}/
							%label.list-group-item{:for => "Radio4"} 
								.inline-block
									%p.no-margin-bottom.regular-font-name
										%span.extra-bold-font-name.quarter-marign-right
											7 PDUS
										Project Quality Management
									%h5.no-margin-bottom.text-color
										%span.quarter-margin-right
											$88.00
										%span.light-text-color.medium-font-name
											%span.line-through
												$153.00 
											%span.light-text-color
											40% off
						.list-group-inner
							%input#Radio5{:name => "RadioInputName", :type => "radio", :value => "Value2"}/
							%label.list-group-item{:for => "Radio5"} 
								.inline-block
									%p.no-margin-bottom.regular-font-name
										%span.extra-bold-font-name.quarter-marign-right
											7 PDUS
										SCRUM immersion for the agile PM
									%h5.no-margin-bottom.text-color
										%span.quarter-margin-right
											$88.00
										%span.light-text-color.medium-font-name
											%span.line-through
												$153.00 
											%span.light-text-color
											40% off
				.clearfix
				.text-center
					%a.btn.btn-default.btn-block{"data-toggle"=>"modal", :href=>"/public/bootcamp/show", "data-target"=>"#showBootcampModal"}
						Buy now

					%a.btn.btn-info.margin-bottom.btn-block{:href=>"/public/bootcamp/demo"}
						Try a Demo
					.clearfix

%section
	.container
		.row
			.col-sm-12
				%h2.text-center.double-margin-bottom
					%span.bold-font-name
						Credits earned
		-2.times do
			.row
				-2.times do
					.col-md-6
						.padded
							.media.double-margin-bottom
								.pull-left
									%img.quarter-margin-right{:src=>"/images/blue-check.svg", :width=>"30px"}
								.media-body
									%h4
										Project Quality Management
									%hr
									%h5.bold-font-name.half-margin-bottom
										PDU Allocation
									.row
										.col-xs-8
											.row
												-3.times do
													.col-xs-4
														%p.bold-font-name.no-margin-bottom
															Technicial
														%p
															3.00 hrs
										.col-xs-4
											.inline-block{:style=>"vertical-align:top; position:relative; top:5px;"}
												%img{:src=>"/images/triangle.svg", :width=>"30px"}
											
											.inline-block
												%p.extra-bold-font-name.no-margin-bottom
													Total
												%p
													3.00 hrs




