//fix safari zooming
@media (max-width: 991px) {
	input,
	select,
	textarea,
	.form-control {
		font-size: 16px !important;
	}
}



form{
	.control-label{
		font-size:.6em;
		color:black!important;
		font-family:$medium-font-name;
	}
}

.input-dark{
	background-color:#fff;
	border-color:$dark-text-color;
	border-width: 1.5px;
	color:$dark-text-color;
}