
form{
	.control-label{
		font-size:.6em;
		color:black!important;
		font-family:$medium-font-name;
	}
}

.input-dark{
	background-color:#fff;
	border-color:$dark-text-color;
	border-width: 1.5px;
	color:$dark-text-color;
}


.form-helper{
	font-size: 12px;
	&.error{
		color: $danger-color;
	}
}



/* iOS: prevent input zoom */
@supports (-webkit-touch-callout: none) {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	textarea,
	select,
	.form-control {
		font-size: 16px !important;
	}
}