
/* =========================
   FLEX GRID (Bootstrap-like)
   ========================= */

.grid-thing	{
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.3);

	border:1px solid red;
	padding:4px;
}



.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

// .flex-col{
// 		flex:1;
// 		display: flex;
// 	}


.flex-row-tight {
  display: flex;
  flex-wrap: wrap;
  margin: 0; /* no gutter compensation */
}


.flex-row-tight > [class*="flex-col-"] {
  padding: 0;  /* removes gutters */
}


.flex-row > [class*="flex-col-"] {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

/* Base column behavior */
[class*="flex-col-"] {
  flex: 0 0 auto;
}



.flex-col-1  { width: 8.333333%; }
.flex-col-2  { width: 16.666667%; }
.flex-col-3  { width: 25%; }
.flex-col-4  { width: 33.333333%; }
.flex-col-5  { width: 41.666667%; }
.flex-col-6  { width: 50%; }
.flex-col-7  { width: 58.333333%; }
.flex-col-8  { width: 66.666667%; }
.flex-col-9  { width: 75%; }
.flex-col-10 { width: 83.333333%; }
.flex-col-11 { width: 91.666667%; }
.flex-col-12 { width: 100%; }




@media (min-width: 768px) {
  .flex-col-sm-1  { width: 8.333333%; }
  .flex-col-sm-2  { width: 16.666667%; }
  .flex-col-sm-3  { width: 25%; }
  .flex-col-sm-4  { width: 33.333333%; }
  .flex-col-sm-5  { width: 41.666667%; }
  .flex-col-sm-6  { width: 50%; }
  .flex-col-sm-7  { width: 58.333333%; }
  .flex-col-sm-8  { width: 66.666667%; }
  .flex-col-sm-9  { width: 75%; }
  .flex-col-sm-10 { width: 83.333333%; }
  .flex-col-sm-11 { width: 91.666667%; }
  .flex-col-sm-12 { width: 100%; }
}


@media (min-width: 992px) {
  .flex-col-md-1  { width: 8.333333%; }
  .flex-col-md-2  { width: 16.666667%; }
  .flex-col-md-3  { width: 25%; }
  .flex-col-md-4  { width: 33.333333%; }
  .flex-col-md-5  { width: 41.666667%; }
  .flex-col-md-6  { width: 50%; }
  .flex-col-md-7  { width: 58.333333%; }
  .flex-col-md-8  { width: 66.666667%; }
  .flex-col-md-9  { width: 75%; }
  .flex-col-md-10 { width: 83.333333%; }
  .flex-col-md-11 { width: 91.666667%; }
  .flex-col-md-12 { width: 100%; }
}



@media (min-width: 1200px) {
  .flex-col-lg-1  { width: 8.333333%; }
  .flex-col-lg-2  { width: 16.666667%; }
  .flex-col-lg-3  { width: 25%; }
  .flex-col-lg-4  { width: 33.333333%; }
  .flex-col-lg-5  { width: 41.666667%; }
  .flex-col-lg-6  { width: 50%; }
  .flex-col-lg-7  { width: 58.333333%; }
  .flex-col-lg-8  { width: 66.666667%; }
  .flex-col-lg-9  { width: 75%; }
  .flex-col-lg-10 { width: 83.333333%; }
  .flex-col-lg-11 { width: 91.666667%; }
  .flex-col-lg-12 { width: 100%; }
}




.flex-center       { justify-content: center; }
.flex-between      { justify-content: space-between; }
.flex-around       { justify-content: space-around; }
.flex-start        { justify-content: flex-start; }
.flex-end          { justify-content: flex-end; }

.flex-middle       { align-items: center; }
.flex-top          { align-items: flex-start; }
.flex-bottom       { align-items: flex-end; }

.flex-column       { flex-direction: column; }
.flex-wrap         { flex-wrap: wrap; }
.flex-nowrap       { flex-wrap: nowrap; }



.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

@media (min-width: 992px) {
  .order-md-1 { order: 1; }
  .order-md-2 { order: 2; }
}



//flexbox


.d-flex{
    display: flex;
}


.d-inline-flex{
    display: inline-flex;
}

.justify-space-between{
  justify-content: space-between;
}

.align-items-baseline{
  align-items: baseline;
}

.align-items-center{
  align-items: center;
}

.align-self-center{
  align-self: center;
}

