.modal{
	.modal-title{
		color:$heading-text-color;
	}
	.close{
		z-index: 99;
		border:1px solid $text-color;
		color: $text-color;
		// padding:3px 10px;
		border-radius: 100px;
		opacity: .7;
		font-size: 30px;
		line-height: 1;
		font-weight: 400;
		width: 37px;
		height: 37px;
		padding: 0px 11px 9px 9px;
		&:hover{
			opacity: 1;
		}
	}
	.btn-lg{
		padding:$baseline;
	}
	p{
		&.micro-text{
			line-height:$baseline/1.2;
		}
	}
	.modal-content{
		border-radius: 20px;
		box-shadow: none;
	}
}


.demo-test-modal{
	.radio label{
		font-size:.8em!important;
		position:relative;
		top:-3px;
	}
	.btn{
		font-size:1em;
	}
}

.live-course-detail-modal{
	border-radius: 100px;
	.padded{
		@include breakpoint(md) {
			padding:5px!important;
		}
	}
	.modal-header{
		border: none;
		@include breakpoint(md) {
			h2{
				font-size: 22px;
			}
		}
	}
	.badges{
		margin-top:-60px;
		margin-bottom:10px;
		width:270px;
		@include breakpoint(md) {
			width:200px;
		}
	}
	.details-list{
		.key-value{
			padding:10px 0;
		}
		.key{
			width:200px;
			h5{
				line-height: 1.2em;
			}
		}
		.value{
			width:240px;
			
			h5{
				line-height: 1.2em;
			}
		}
		@include breakpoint(md) {
			.key,.value{
				h5{
					font-size: 12px;
				}
			}
		}
	}
	ul.value-list{
		  list-style-image:url(../images/public/live/check-blue.svg);
		li{
			margin-left:21px;
			margin-bottom:15px;
			line-height: 1.3em;

			span{
				position: relative;
  				left: 8px;
			}
			@include breakpoint(md) {
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
	}
	@include breakpoint(md) {
		.help-number{
			font-size: 11px;
		}
	}
}

