.pm-table-wrapper{
  th{
  	font-size:.7em;
    text-transform:uppercase;
    font-family:$light-font-name;
    background-color:tint($primary-color,90%)!important;
    border-right:1px solid $gray-color;
    color:$primary-color;
    &:last-of-type{
      border-right:none;
    }
  }
}

table.table{
	font-size:.8em;
	p{
		line-height:$baseline/1.5;
	}
	&.table-striped > tbody > tr:nth-child(odd) > td{
		background-color:tint($primary-color,95%);
	}
	h5{
		line-height:12px;
		margin-bottom:$baseline/2;
	}
	&.mid-align{
		td{
			vertical-align:middle;
		}
	}
	&.bold-table{
		border:3px solid tint($primary-color,80%);
		box-shadow:0 0 10px rgba(0,0,0,.2);
		.btn{
			font-family:$extra-bold-font-name;
		}
	}
}

//home tables

table.community-average-table{
	 border-collapse:separate; 
  	border-spacing: 0 10px;
  	border:none!important;
	thead tr th{
		border:none!important;
	}
	tbody tr{
		border:none;
		background: #F0F8FB;
		border-radius: 10px;
	}
	tbody td{
		border:none!important;
		vertical-align:middle;
		padding:10px 15px;
		font-family:'museo_sans_500regular';
		&.number{
			font-size: 16px;
			color: shade($primary-color,50%);
			font-weight: 700;
			
		}
		&.item{
			font-size: 18px;
			color: #171717;
			font-weight: 400;
			
		}
		&.data{
			font-size: 18px;
			color: $link-color;
			font-weight: 700;
		}
	}
	&.stack{

		tr{
			&:nth-child(1){
				td{
					padding:30px 15px!important;
					font-size: 18px;
				}
			}
			&:nth-child(2){
				td{
					padding:25px 15px!important;
					font-size: 17px;
				}
			}
			&:nth-child(3){
				td{
					padding:20px 15px!important;
					font-size: 16px;
				}
			}
			&:nth-child(4){
				td{
					padding:15px 15px!important;
					font-size: 15px;
				}
			}
			&:nth-child(5){
				td{
					padding:10px 15px!important;
					font-size: 14px;
				}
			}
		}

	}
	td:first-child {
	    border-left-style: solid;
	    border-top-left-radius: 10px; 
	    border-bottom-left-radius: 10px;
	}
	td:last-child {
	    border-right-style: solid;
	    border-bottom-right-radius: 10px; 
	    border-top-right-radius: 10px; 
	}


}

//flash sale

td.flash-sale{
	background: shade($primary-color,50%)!important;
	color:white;
	.flash-title{
		font-weight: 900;
		font-size:19px;
	}
	.flash-savings{
		font-weight: 700;
		font-size:15px;
	}
	.flash-price-change{
		line-height: 35px;
	}
	.flash-old-price{
		font-size:14px;
		vertical-align: middle;
		margin-right:5px;
	}
	.flash-new-price{
		font-weight: 900;
		font-size:24px;
		vertical-align: middle;

	}
	.flash-counter{
		font-size:11px;
	}
}