//course schedule card

.class-schedule-cards{
	h1,h2,h3,h4,h5,h6,p{
		margin:0;
	}
	.class-card{
		margin:16px 0;
		border:1px solid $gray-color;
		display: flex;
		padding:10px 15px;
		border-radius:5px;
		box-shadow:0 1px 8px #CDDFE6;
		min-height: 120px;
		&:nth-child(even){
			background: tint($primary-color,94%);;
		}
		@include breakpoint(md) {
			flex-direction: column;
			&:nth-child(even){
				background: white;
			}
		}
		.price-actions-wrapper{
			display: contents;
			@include breakpoint(md) {
				display: flex;
				justify-content: space-between;
				margin-top:$baseline/2;
				.card-col{
					&.actions{
						flex-shrink:2;
						.urgency-label{
							font-size: 10px;
							.urgency-icon{
								font-size: 15px;
							}
						}
						
					}
				}
			}
		}
		.card-col{
			width:100%;
			padding:5px 12px;
			align-self:center;
			p{
				font-size: 15px;
				&.micro-text{
					font-size: 14px;
				}
			}
			@include breakpoint(lg) {
				p{
				font-size: 14px;
					&.micro-text{
						font-size: 13px;
					}
				}
			}
			.info-container{
				display: flex;
				@include breakpoint(md) {
					.icon span{
						font-size: 16px;
					}
				}
				.info{
					@include breakpoint(md) {
						display: inline-flex;
						column-gap: 8px;
					}
				}
			}
			&.actions{
				justify-items: center;
				text-align: center;
				.enroll-btn{
					min-width: 170px;
				}
				@include breakpoint(md) {
					.enroll-btn{
						padding:5px 10px;
						font-size: 14px;
						font-weight: 700;
						min-width: 130px;
					}
				}
			}
			&.time{

			}
			&.date{
				@include breakpoint(lg) {
					width:110%;
				}
				@include breakpoint(md) {
					width: 100%;
				}
			}
			&.price{
				max-width:180px;
			}
			&.flash-sale{
				background:shade($primary-color,60%);
				border-radius: 4px;
				position: relative;
				padding-top:25px;
				p,h4{
					color: white;
					.savings{
						color:rgba(255,255,255,.7)!important;
					}
				}
				p.sale-ends{
					color:rgba(255,255,255,.7);
					font-size:11px;
					line-height: 13px;
					text-transform: uppercase;
					font-family: $bold-font-name;
					margin: 5px 0;
				}
				&:before{
					position: absolute;
					top: 5px;
					left: -5px;
					content:"Flash sale";
					background:$warning-color;
					padding:0px 5px;
					padding-left:15px;
					font-family: $extra-bold-font-name;
					color:$dark-text-color;
					font-size:13px;
					line-height: 16px;
					text-transform: uppercase;
				}
			}
			@include breakpoint(md) {
				padding:10px 5px;
				&.title{
					margin-bottom:$baseline/2;
				}
				&.time,&.date{
					padding:0 10px;
				}
				&.price{
					padding-left:15px;
				}
				&.actions{
					max-width:150px;
				}
			}
		}
	}
}