;;;
"layout": "public",
"title": "Home"
;;;



%section.invert-section
	.container
		.row
			.col-lg-1
			.col-lg-10
				.text-center
					.label-feature.margin-bottom
						%p.bold-font
							PMI MEMBERSHIP EXAM BUNDLE
					%h1
						%span.extra-bold-font-name
							Get a 1 Year PMI Membership 
						and 
						%span.extra-bold-font-name
							PMI Exam Voucher for only $544 
					%h3
						Get instant access and 
						%span.extra-bold-font-name
							Save over $150
					%a.btn.btn-default.btn-lg
						GET IT NOW
				.padding-bottom
				.padding-bottom
				.padding-bottom
			.col-lg-1


%section.no-padding-top
	.container
		.row
			.col-lg-3.col-md-2
			.col-lg-6.col-md-8
				.bundle-container.padding-top
					.card{:style=>"border: 5px solid #FFBC00;border-radius: 10px; background:#fff;"}
						.padded
							.text-center
								%img.max-width{:src => "../../../images/public/landing-pages/bundle-element.png", :width=>"290px", :style=>"margin-top:-130px;"}
								%h4.extra-bold-font-name.dark-text-color
									Everything you need to succeed...
							.row.half-margin-bottom
								.col-sm-1
								.col-sm-5.col-xs-6
									%p.no-margin-bottom.text-left
										%img.max-width{:src => "../../../images/public/landing-pages/check-2.svg", :width=>"20px", :style=>"position:relative; top:-2px; margin-right:4px;"}
										1 year PMI membership
								.col-sm-5.col-xs-6
									%p.no-margin-bottom.text-right
										$139 value
								.col-sm-1
							.row
								.col-sm-1
								.col-sm-5.col-xs-6
									%p.no-margin-bottom.text-left
										%img.max-width{:src => "../../../images/public/landing-pages/check-2.svg", :width=>"20px", :style=>"position:relative; top:-2px; margin-right:4px;"}
										PMI exam voucher

								.col-sm-5.col-xs-6
									%p.no-margin-bottom.text-right
										$555 value
								.col-sm-1
							%hr
								.text-center
									%h4.extra-bold-font-name.dark-text-color.highlight
										Total value: $694
				

			.col-lg-3.col-md-2
					


%section
	.container
		.row
			.col-lg-12
				.text-center
					%h2.bold-font-name
						PMI membership perks
		.row
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Be part of the largest PM community
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Track your certification status with myPMI
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Download the PMBOK® Guide for free
		.row
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Unlock 1,000+ tools and templates
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Get more, free opportunities to earn PDUs
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Save on career-advancing certifications


%section
	.container
		.row
			.col-lg-12
				.text-center
					%h2.bold-font-name
						PMI exam voucher perks
		.row
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Take your exam online or in-person
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Quickly activate your exam voucher without the hassle
			.col-sm-4
				.text-center.padded
					%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/check.svg", :width=>"68px"}
					%h4.bold-font-name
						Save over $XXX on your exam voucher with this bundle


%section.off-blue
	.container
		.row
			.col-md-1
			.col-md-10
				.row
					.col-lg-12
						.text-center
							%h2.bold-font-name
								How it works
				.row
					.col-sm-4
						.text-center.padded
							%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/icon-register.svg", :width=>"88px"}
							%h4.bold-font-name
								Register for the Membership Exam Bundle
					.col-sm-4
						.text-center.padded
							%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/icon-schedule.svg", :width=>"70px"}
							%h4.bold-font-name
								Schedule your PMP exam
					.col-sm-4
						.text-center.padded
							%img.max-width.margin-bottom{:src => "../../../images/public/landing-pages/icon-like.svg", :width=>"70px"}
							%h4.bold-font-name
								Earn PDUs as a PMI member

			.col-md-1



%section
	.container
		.row
			.col-sm-12
				.text-center
					%h2.bold-font-name
						Don’t take our word for it
		-2.times do
			.row.margin-top
				-2.times do
					.col-md-6
						.panel.shadowed-box
							.panel-body.padding-top
								.padded
									%h5.half-margin-bottom.regular-font-name
										“Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. 
										%span.bold-font-name.highlight
											Curabitur at vestibulum nisi. Nullam vehicula nisi velit. 
										Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum inter.”
									%h6.no-margin
										Viola Maldonado
		.row
			.col-lg-12
				.padding-top.text-center
					%a.btn.btn-default.btn-lg
						GET IT NOW








