%section.off-white
	.container
		.row
			.col-sm-4
				=image_tag'public/corporate-discount/step-1.png', :class=>"margin-auto img-responsive margin-bottom" , :width=>"150px"
				%h3
					Step 1
				%ul.list-default.no-margin-bottom
					%li
						For each course product below, enter the number of students to register
					%li
						Enter the name and email address of each student when prompted
			.col-sm-4
				=image_tag'public/corporate-discount/step-2.png', :class=>"margin-auto img-responsive margin-bottom" , :width=>"150px"
				%h3
					Step 2
				%ul.list-default.no-margin-bottom
					%li
						Securely pay for your order using the online payment form
			.col-sm-4
				=image_tag'public/corporate-discount/step-3.png', :class=>"margin-auto img-responsive margin-bottom" , :width=>"150px"
				%h3
					Step 3
				%ul.list-default.no-margin-bottom
					%li
						Your students will immediately be notified access instructions via email
					%li
						You will be sent a confirmation email and PDF payment receipt for your order