%section
	.container
		.row
			.col-sm-4
				=image_tag'public/corporate-discount/step-2.png', :class=>"margin-auto img-responsive margin-bottom" , :width=>"150px"
				%h3
					Step 1
				%ul.list-default.no-margin-bottom
					%li
						Complete the registration form below, for your organization
					%li
						You may also download a PDF version here: 
						%a{:href=>"http://ssilogic.com/archive/PMTraining_Registration_Form.pdf", :target=>"_blank"}
							PDF Registration Form
			.col-sm-4
				=image_tag'public/corporate-discount/step-1.png', :class=>"margin-auto img-responsive margin-bottom" , :width=>"150px"
				%h3
					Step 2
				%ul.list-default.no-margin-bottom
					%li
						Our team will set up your private PMP exam prep site in 2 business days or less
			.col-sm-4
				=image_tag'public/corporate-discount/step-3.png', :class=>"margin-auto img-responsive margin-bottom" , :width=>"150px"
				%h3
					Step 3
				%ul.list-default.no-margin-bottom
					%li
						Our team will notify you with instructions 
					%li
						when your website is ready to enroll students