%section.invert-darker.no-padding-top.no-padding-bottom.invert-section.corporate-training-hero
  .container
    .row       
      .col-md-6.col-md-push-6
        %a{:href=>""}
          %img.corporate-training-video-thumb{:src=>"../images/public/corporate_training/video-thumb.png"}  
      .col-md-6.col-md-pull-6
        .padding-top.padding-bottom
          %h4.bold-font-name.quarter-margin-bottom.overhang.light-accent-text-color
            Private Corporate Training for High-Performing Teams
          %h1.bold-font-name.margin-bottom
            Train Project Teams That Deliver Better Results
          %ul.margin-bottom.hero-list
            %li.bold-font-name
              Improve team performance and alignment
            %li.bold-font-name
              Invest in employee growth and retention
            %li.bold-font-name
              Private onsite or virtual team training
          
          %img.max-width{:src=>"../images/home-divider.svg"}
          .media.d-flex.align-items-center.margin-bottom{:style=>"max-width:400px;"}
            .pull-left
              %img{:src=>"../images/pmi-logo.svg"}
            .media-body
              %p.media-heading.no-margin-bottom.bold-font-name
                Premier Authorized Training Partner (ATP) of the Project Management Institute®
          .btns
            %a.btn.btn-default.btn-lg.half-margin-bottom.quarter-margin-right{:href=>"#request-information"}
              Request information
      


              