%table.table.table-responsive
  %tbody
    %thead
      %tr
        %th.info{:style=>"width:30%;"}
          PMTraining Program Terms
        %th.info
          
    %tr
      %td
        %p
          Exam Preparation Products
      %td
        %p
          %strong
            SSI exam preparation products are delivered as Software as a Service (SaaS). Unless otherwise stated:
        %ul.list-default
          %li
            Students will have unlimited access to all product features and tools, described
            in depth in this agreement.
          %li
            Customer will be provided with Administrative Account access to register students
            on an ongoing basis
          %li SSI manages technology, content, and support infrastructure
         
    %tr
      %td
        %p
          Payment Terms
      %td
        %p
          %strong 
            All fees are based on monthly licenses sold
        %ul.list-default
          %li
            SSI will charge Customer’s account each month, using authorized payment method on
            record; electronic receipt will be provided to Customer POC
          %li
            Electronic payments are due in full and processed on the last day of each month.
          %li
            Accounts are subject to cancellation if payment cannot be processed, or if account
            privileges are abused.
    %tr
      %td
        %p
          Cost Per Student Registration
      %td
        %p
          %strong $53.00
          for 90-Day Access (10% discount)
          %br/
          Optional: PMP On-Demand course for $339.00 per student
    %tr
      %td
        %p
          Monthly Support Fee
      %td
        %p
          %strong $99.00
          %br/
          Waived with registration of 2 or more students per month!
    %tr
      %td
        %p
          Portal Setup Fee
      %td
        %p
          %strong
            %span.line-through $199.00
          %br/
          Setup Fee Waived
    %tr
      %td
        %p
          Included Support
      %td
        %p
          %strong PMTraining will provide the following support:
          %br/
        %ul.list-default
          %li Email-based customer (end-user) support
          %li
            SSI provides Customer support for platform related problems during standard operating
            hours (EST / GMT-5)
    %tr
      %td
        %p
          Use of Exam Preparation Content
      %td
        %p
          Exam preparation content available via our products has been created exclusively
          for use by our customers. Our exam preparation content—including images, text, and
          supporting material (collectively "SSI Exam Prep Content") are owned by SSI Solutions
          INC. Unless SSI Solutions INC explicitly provides permission, no party may copy,
          modify, distribute (outside of the exam preparation system), display, license, or
          independently sell SSI exam preparation content without express consent by SSI.
        %p
          Extreme care has been taken in the compilation of site content and features. The
          information, statements, and testing content contained therein are believed to be
          correct. This content, its owners, operators, and/or representatives shall not be
          held liable for any loss, damage or inconvenience arising from potential inaccuracies.
          SSI reserves the right to publish updates to its exam preparation content without
          prior notification.
        %p
          Although post-exam student feedback is highly positive, no guarantee, warranty,
          or representation is made that students will pass actual certification exams as
          a result of using this product, nor with regard to the general content of site material.
        %p
          While the information contained within our product platform is believed to be accurate,
          SSI, including its owners, representatives, administrators, and or employees, is
          not responsible for, and expressly disclaims all liability for, damages of any kind
          arising out of use or reference to information provided.
        %p
          Accessing and/or registering with SSI exam preparation web products indicates acceptance
          of content terms, publicly accessible via the “Site Disclaimer” section of our website.