;;;

"layout": "public",
"title": "Corporate Training",
"activeclass": "training",
"subtitle": "Corporate Training Options"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"training-pmp-header"}


%section
	.container
		.row
			.col-md-7
				%h2
					Prepare Your Students to Pass.
				%p
					PMTraining corporate solutions include 
					%strong
						volume purchase options, customized instructor-led training,
					and 
					%strong
						branded trainer sites 
					that we host and support for your students. Use our tools in combination with your training curriculum, or as a standalone course.   
				%p
					Organizations who rely on our training products include:
				%ul.list-default
					%li
						Training providers and bootcamps
					%li
						Universities and public sector agencies
					%li
						Corporate training departments and PMI Chapters
					%li
						Training websites and online trainers
			.col-md-5 
				=image_tag"public/corporate_training/1.png", :class=>"img-responsive margin-auto double-margin-bottom" 
		%hr
		.row
			.col-md-7
				%h2
					Instructor-led Training by Our PMP Experts
				%p
					Looking for a live in-person or live online PMP training solution? PMTraining offers multiple options for instructor-led classes delivered by PMP Subject Matter Experts. 
				%p
					On-site and virtual classes are available, including all materials, software, contact hours, and PDUs. 
				%a.btn.btn-default.margin-bottom{:href=>"/public/about/contact"}
					Contact Us to Receive a Quote
			.col-md-5 
				=image_tag"public/corporate_training/2.png", :class=>"img-responsive margin-auto double-margin-bottom" 
		%hr
		.row
			.col-md-7
				%h2
					Volume Discounts for Multiple Students
				%p
					Take advantage of discounts when registering multiple students for PMP exam preparation products and courses. Students will receive exceptional exam preparation with straighforward volume payment options. 
				%p
					Our volume discount purchase program includes:
				%ul.list-default
					%li
						Discounted pricing for multiple student licenses
					%li
						Group rates on distance learning classes
					%li
						Accounts provisioned instantly
					%li
						New students notified immediately with access instructions
				%a.btn.btn-default.margin-bottom{:href=>"/public/corporate-training/corporate-discount"}
					Visit our Volume Discount Order Form
			.col-md-5 
				=image_tag"public/corporate_training/3.png", :class=>"img-responsive margin-auto double-margin-bottom" 
		%hr
		.row
			.col-md-7
				%h2
					A Private, Branded Training Site for Your Students
				%p
					If you provide training to your own students, a private branded exam site by PMTraining will offer all of student management tools you will need. Enroll your students through your own instructor portal and pay only for those students you register on a monthly basis. Ideal for training organizations and resellers, our platform provides:
				%ul.list-default
					%li
						Corporate branded exam prep site, hosted by us
					%li
						Enroll students whenever you like
					%li
						View student performance reports and trends
					%li
						Create custom tests for your classes
					%li
						Enroll students in On-Demand courseware
					%li
						Customer support provided by our team
					%li
						Simple setup and clear, automated billing
				%a.btn.btn-default.margin-bottom{:href=>"/public/corporate-training/private-portal"}
					Learn More & Register
			.col-md-5 
				=image_tag"public/img-hosted-branded.jpg", :class=>"img-responsive margin-auto double-margin-bottom" 
		%hr
			%h6.text-center.triple-margin-bottom
				Other Exam and Assessment Products from SSI Logic
		.row
			.col-md-7
				%p
					Our volume discount and private, branded site options are offered through our entire portfolio of practice exam and job testing web products. Visit all of our products to learn more:
				%ul.list-default
					%li
						%a{href:"http://www.pmtraining.com/", :target=>"_blank"}
							PMP Exam
						Preparation
					%li
						%a{href:"http://www.trainagile.com/", :target=>"_blank"}
							Agile Training 
						and Preparation
					%li
						%a{href:"http://www.itilprime.com/", :target=>"_blank"}
							ITIL Foundation Exam 
						Preparation
					%li
						%a{href:"http://www.pmtraining.com/", :target=>"_blank"}
							CISSP Exam
						http://www.cisspexampractice.com/
					%li
						%a{href:"http://www.wellhire.com/", :target=>"_blank"}
							Job Testing
						and Employee Assessments
					%li
						%a{href:"/public/about/contact", :target=>"_blank"}
							Contact Us
						for information about any of our products

			.col-md-5 
				.text-center
					=image_tag"public/logo_ssi-1.jpg", :class=>"img-responsive margin-auto double-margin-bottom img-thumbnail" 
					%p
						Professional. Measurable. Realistic.
						%strong
							Exam Preparation Solutions
						%br
						%a{href:"http://www.ssilogic.com/", target:"_blank"}
							Visit SSI Logic



				