;;;
"layout": "public",
"title": "Home", 
"activeclass": "home"
;;;




=partial'/public/corporate-training/slider'
%section
	.container
		.row
			.col-lg-12
				.text-center
					%h4.bold-font-name.dark-text-color
						Trusted by the world’s smartest teams
					%img.max-width{:src => "../images/home-logos.png"}



%section.padding-top
	.container
		.ps-row.reverse
			.ps-flex-col.image-col
				%img.spot-image{:src => "../images/public/corporate_training/bad.png"}
			.ps-flex-col
				%h2.lg.bold-font-name.dark-text-color.half-margin-bottom.title
					Sending employees to train on their own only gets you so far

				.media.d-flex
					.pull-left
						%img.bullet{:src=>"../images/icon-clear.svg"}
					.media-body
						%p.no-margin-bottom.dark-text-color.body-large
							%span.extra-bold-font-name
								Employees train independently 
							with inconsistent methodologies
				.media.d-flex
					.pull-left
						%img.bullet{:src=>"../images/icon-clear.svg"}
					.media-body
						%p.no-margin-bottom.dark-text-color.body-large
							%span.extra-bold-font-name
								Teams struggle
							with alignment and communication
				.media.d-flex
					.pull-left
						%img.bullet{:src=>"../images/icon-clear.svg"}
					.media-body
						%p.no-margin-bottom.dark-text-color.body-large
							%span.extra-bold-font-name
								Professional development often
							feels reactive instead of strategic
				
		.ps-row
			.ps-flex-col.image-col
				%img.spot-image{:src => "../images/public/corporate_training/good.png"}
			.ps-flex-col
				%h2.lg.bold-font-name.dark-text-color.half-margin-bottom.title
					Train together. Perform better together.

				.media.d-flex
					.pull-left
						%img.bullet{:src=>"../images/icon-check.svg"}
					.media-body
						%p.no-margin-bottom.dark-text-color.body-large{:style=>"line-height:1.2em;"}
							%span.extra-bold-font-name
								Align teams around proven 
							project management practices
				.media.d-flex
					.pull-left
						%img.bullet{:src=>"../images/icon-check.svg"}
					.media-body
						%p.no-margin-bottom.dark-text-color.body-large{:style=>"line-height:1.2em;"}
							%span.extra-bold-font-name
								Increase employee engagement
							and long-term retention
				.media.d-flex
					.pull-left
						%img.bullet{:src=>"../images/icon-check.svg"}
					.media-body
						%p.no-margin-bottom.dark-text-color.body-large{:style=>"line-height:1.2em;"}
							%span.extra-bold-font-name
								Build internal expertise
							through structured upskilling
		.ps-row.no-padding-bottom
			.center-button-container
				%a.btn.btn-default.btn-lg{:href=>"#request-information"}
					Request corporate training







			
%section.gradient-top
	.container
		.row
			.col-lg-12
				%h2.lg.bold-font-name.dark-text-color.margin-top.double-margin-bottom.text-center
					Why Organizations Choose PMTraining
		.row
			.col-sm-3.text-center-sm
				%img.half-margin-bottom{:src=>"../images/icon-work.svg"}
				%p.body-large.dark-text-color.bold-font-name.quarter-margin-bottom
					Private Team Training
				%p
					Dedicated live training built exclusively for your organization and schedule.
			.col-sm-3.text-center-sm
				%img.half-margin-bottom{:src=>"../images/icon-instruct.svg"}
				%p.body-large.dark-text-color.bold-font-name.quarter-margin-bottom
					Virtual or Onsite Delivery
				%p
					Train distributed or in-person teams with flexible delivery options.
			.col-sm-3.text-center-sm
				%img.half-margin-bottom{:src=>"../images/icon-laptop.svg"}
				%p.body-large.dark-text-color.bold-font-name.quarter-margin-bottom
					Expert Instructors
				%p
					Learn from experienced, PMI-authorized instructors with real-world expertise.
			.col-sm-3.text-center-sm
				%img.half-margin-bottom{:src=>"../images/icon-top.svg"}
				%p.body-large.dark-text-color.bold-font-name.quarter-margin-bottom
					Certification-Focused
				%p
					Prepare employees for industry-recognized certifications with proven training programs.


%section.invert-section.invert-darker
	.container
		.row
			.col-lg-12
				%h2.lg.bold-font-name.quarter-margin-bottom.text-center
					Corporate Training That Delivers Results
				%p.body-large.bold-font-name.text-center
					Upskill teams wit 
					%span{:style=>"color:#FDE0AA;"}
						expert-led
					certification training 
					%span{:style=>"color:#FDE0AA;"}
						tailored to your organization. 
					
		.row.padding-bottom.quarter-padding-top
			.col-lg-12
				#path-component
					.tabs-container
						%ul.nav.nav-tabs.tabs-simple.light-tabs.d-flex.justify-center
							%li.active
								%a{:href=>"#"}
									Expert training
							%li
								%a{:href=>"#"}
									Exceptional Tools
							%li
								%a{:href=>"#"}
									Boost performance
							%li
								%a{:href=>"#"}
									Enroll into any Class
					.path-content
						.row
							.col-sm-6
								%img.full-width{:src => "../images/public/corporate_training/expert.png"}

							.col-sm-6
								.double-padding-top.padding-bottom
									%h2.bold-font-name.margin-bottom
										Experts in Certification Training
									%p.body-large.bold-font-name
										700+ companies and 100,000+ students trust PMTraining for expert-led project management certification training.
									%ul.margin-bottom.hero-list
										%li.bold-font-name
											Improve team performance and alignment
										%li.bold-font-name
											Invest in employee growth and retention
										%li.bold-font-name
											Private onsite or virtual team training
										%li.bold-font-name
											Private onsite or virtual team training
									%a.btn.btn-default.btn-lg{:href=>"#request-information"}
										Learn more
								



%section.gradient-bottom
	.container
		.row.padding-top
			.col-md-2
			.col-md-8
				%h2.lg.text-center.dark-text-color.medium-font-name
					See why 
					%span.bold-font-name
						1,000,000+ 
					professionals trust PMTraining
			.col-md-2
		.row.padding-bottom.padding-top
			.col-lg-12
				.trust-widget{:style=>"width:100%; height:130px; background:#DFF0F6;"}


%section
	.container
		.row
			.col-md-4
				%h2.lg.dark-text-color.bold-font-name.text-center-sm
					Frequently asked questions
			.col-md-8
				#accordion.panel-group.faq-accordian
					-4.times do |count|
						.panel.panel-default
							.panel-heading
								.panel-title
									%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-#{count}"}
										.icon-wrapper
											%span.fa.fa-caret-down.faq-icon
										.question-wrapper
											%p.bold-font-name.dark-text-color.body-large
												What types of corporate training do you offer?
							.panel-collapse.collapse{:id=>"collapse-#{count}"}
								.panel-body
									%p.no-margin-bottom
										We offer private PMP®, CAPM®, Agile, Scrum, PgMP®, and custom project management training programs for organizations of all sizes.
							



%section.invert-section.invert-darker#request-information
	.container
		.row.padding-top.padding-bottom
			.col-lg-12
				.text-center
					%h2.bold-font-name.quarter-margin-bottom
						Request Corporate Training Information
					%p.body-large
						Tell us about your training needs.  we’ll be in touch shortly.
		.row
			.col-md-2
			.col-md-8
				.form-container.padded.panel.base-border-radius
			.col-md-2

				
