;;;

"layout": "public",
"title": "Private Training Portal",
"activeclass": "training",
"subtitle": "Private Training Portal"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"training-pmp-header"}


%section
	.container
		.row
			.col-sm-7
				%h2
					PMTraining for Enterprises - Private Practice Exam Portal
				%p
					%strong
						A hosted, branded version of our popular PMP practice exam tools for your students, relied on by exam takers across the globe.
					Receive your own corporate branded PMP exam prep site – hosted and supported by us, and driven by our industry-leading PMP exam prep content database.  
				%p
					%strong
						Features include:
				%ul.list-default
					%li
						Easily register students with your branded exam prep site
					%li
						Student email notifications with your organization name
					%li
						Instructor tools included! View student performance, create custom tests and more
					%li
						Private web address - http://YOURCOMPANY.PMtraining.com
					%li
						Instant access to new PMP content
					%li
						Includes all features from our popular PMP practice exam system
					%li
						Student access from any web browser or mobile device, with nothing to download
					%li
						Personalized reports track student performance
					%li
						Student dashboard, PMP exam tips, and video tutorials included
					%li
						New! Enroll your students in optional PMP training courses, such as our PMP On-Demand Bootcamp
			.col-sm-5 
				=image_tag"public/practice/ui_show_1.png", :class=>"img-responsive margin-auto double-margin-bottom" 
		%hr
		.row
			.col-md-12
				%h2.no-margin-bottom
					Clear and Simple Pricing
				%p
					Automated billing, charged monthly. 
				%table.table.table-responsive
					%thead
						%tr
							%th.info{:style=>"width:15%;", :colspan=>2}
								%h5.no-margin-bottom
									Monthly Pricing
								
					%tbody
						%tr
							%td
								Cost Per Student Registration
							%td
								%strong
									$53.00 
								for 90-Day Access (10% discount) 
								%br
								Optional: PMP On-Demand course for $339.00 per student
						%tr
							%td
								Monthly Support Fee
							%td
								%strong
									$99.00 
								Waived with registration of 2 or more students per month
						%tr
							%td
								Portal Setup Fee
							%td
								%strong
									%span.line-through
										$199.00 
								Setup Fee Waived
						%tr
							%td
								Registration
							%td
								.margin-bottom
									%strong
										Register online using the form below 
								Optional: 
								%a{:href=>"http://ssilogic.com/archive/PMTraining_Registration_Form.pdf",:target=>"_blank"}
									Download the registration form (PDF) 
								%br
								Optional: 
								%a{:href=>"http://ssilogic.com/archive/PMTraining_Student_Testimonials.pdf",:target=>"_blank"}
									Download student testimonials (PDF)
				%hr 
%section.no-padding-bottom.no-padding-top
	.container	
		%h2.no-margin-bottom
			How to Register
=partial"/public/corporate-training/how-to-register-2"
%section.no-padding-bottom
	.container
		.col-sm-12
			%hr
			%h6.text-center
				Private Training Portal Registration Form
			=partial"/public/corporate-training/portal-reg-form"
%section.no-padding-top
	.container
		.col-sm-12
			%h2.no-margin-bottom
				PMTraining Enterprise Program Terms
			%p
				No hidden fees. Cancel any time.
			=partial"/public/corporate-training/terms-table"
		