//subnav

h1.main-page-header{
  margin-bottom:-25px!important;
}
.subnav{
  ul.nav-pills{
    li{
      &:last-of-type{
        // padding-right:0;
      }
      padding-left:0px;
      padding-right:20px;
      &.active{
        a{
          background-color:transparent;
          color:$primary-color;
          box-shadow:inset 0 -3px 0 $primary-color;
          &:hover{
            background-color:transparent;
            color:$primary-color;
          }
        }
      }
        &.active , &:hover{
          a{
            border-radius:0;
          }
        }
      a{
        text-decoration:none;
        padding-right:0;
        padding-left:0;
        &:hover{
          background:transparent;
        }
      }
    }
  }
}



//checkout 

.radio-group{

  .list-group-inner {
    position: relative;
  }

  .list-group-item {
    user-select: none;
    border-width: 2px;
    margin-bottom: 10px;
  }

  .list-group input {
    &[type="checkbox"] {
      display: none;
      + .list-group-item {
        cursor: pointer;
        font-family: 'Material Icons';
        &:before {
          content: "radio_button_unchecked";
          margin-right: 0.3em;
          font-size: 30px;
          color:$light-gray-color;
        }
      }
      &:checked + .list-group-item {
        background-color: tint($link-color, 90%);
        border-color:$link-color;
        &:before {
          content: "check_circle";
          color: $link-color;
        }
      }
    }
    &[type="radio"] {
      position: absolute;
      top: 23px;
      left: 15px;
      z-index: 99;
      + .list-group-item {
        cursor: pointer;
        &:before {
          content: "";
          margin-right: 1.3em;
        }
      }
      &:checked + .list-group-item {
        background-color: tint($link-color, 90%);
        border-color:$link-color;
        &:before {
          color: inherit;
        }
      }
    }
  }


}


