.buy-bar
	.buy-bar-product-details
		.flex-media-object.flex-media-object-align-center.flex-media-gap-sm
			.flex-media-item
				%img.media-object.quarter-margin-right{:alt => "...", :src => "/images/pmi-logo.svg", :width=>"37px"}
			.flex-media-body
				%p.no-margin-bottom.dark-text-color.medium-font-name
					Title of product
	.buy-bar-cta
		%a.btn.btn-default{:href=>"#buy-block-anchor"}
			Select package