.buy-block.sale-tag.buy-block-tall
	.buy-block-card
		.buy-block-thumb-wrap
			.buy-block-thumb
				%img.full-width{:src=>"/images/public/pdu-thumb.png"}
		#buy-block-anchor
		%p.bold-font-name.half-margin-bottom.half-margin-top.body-large.visible-xs
			On-Demand PDU Courses Available 24/7
		.price.d-flex.justify-space-between
			.price-left.medium-font-name
				.price-numbers
					%span.line-through.light-text-color.body-large.quarter-margin-right.old-price-text
						$81
					%span.text-danger.price-text
						$58
				%span.text-danger{:style=>"font-size:14px;"}
					You save 
					%span.bold-font-name
						$114 
					instantly!
			.price-right
				.label.label-success.label-save
					Save 28%
		.forms
			=partial"radio-selectors"
		%a.btn.btn-lg.btn-block.btn-default.half-margin-bottom{:href=>"#"}
			Buy now
		%a.btn.btn-lg.btn-block.btn-primary-wire.half-margin-bottom{:href=>"#"}
			Try a demo
	.text-center.half-margin-top
		%img.max-width.hidden-xs{:src=>"/images/public/buy-block-sizzle.png", :width=>"270px"}