.buy-block.sale-tag
	.buy-block-card
		.buy-block-thumb-wrap
			.buy-block-thumb
				%img.full-width{:src=>"/images/public/capm-thumb.png"}
		#buy-block-anchor
		.price.d-flex.justify-space-between
			.price-left.medium-font-name
				.price-numbers
					%span.line-through.light-text-color.body-large.quarter-margin-right.old-price-text
						$498
					%span.text-danger.price-text
						$348
				%span.text-danger{:style=>"font-size:14px;"}
					You save 
					%span.bold-font-name
						$150 
					instantly!
			.price-right
				.label.label-success.label-save
					Save 30%
		%p.half-margin-bottom.body-small.bold-font-name
			23 PMI Contact Hours | 23 PDUs

		%a.btn.btn-lg.btn-block.btn-default.half-margin-bottom{:href=>"#"}
			Buy now
		%a.btn.btn-lg.btn-block.btn-primary-wire.half-margin-bottom{:href=>"#"}
			Try a demo
		.affirm-btn
			%p.body-small
				%span.bold-font-name
					$32/mo.
				with 
				%img.affirm-logo{:src=>"/images/affirm-logo.svg"}
				%a.bold-font-name.quarter-margin-left{:href=>"#"}
					Show me how
	.text-center.half-margin-top
		%img.max-width.hidden-xs{:src=>"/images/public/buy-block-sizzle.png", :width=>"270px"}