.buy-block.sale-tag
	.buy-block-card
		.buy-block-thumb-wrap
			.buy-block-thumb
				%img.full-width{:src=>"/images/public/capm-thumb.png"}
		#buy-block-anchor
		%p.bold-font-name.half-margin-bottom.half-margin-top.body-large.visible-sm.visible-xs
			Live Online PMP® Class
			%br
			%span.text-color.body-medium
				Mon / Wed Evenings
		.price.d-flex.justify-space-between.no-margin-bottom
			.price-left.medium-font-name
				.price-numbers
					%span.line-through.light-text-color.body-large.quarter-margin-right.old-price-text
						$498
					%span.text-danger.price-text
						$348
				%span.text-danger{:style=>"font-size:14px;"}
					You save 
					%span.bold-font-name
						$150 
					instantly!
			.price-right
				.label.label-success.label-save
					Save 30%
		.half-margin-bottom
			%span.text-danger.medium-font-name{:style=>"font-size:14px;"}
				%span.line-through.text-color
					$348
				%span.bold-font-name
					FREE 
				On-Demand Course included
		

		%a.btn.btn-lg.btn-block.btn-default.half-margin-bottom{:href=>"#"}
			Enroll in this class
		.affirm-btn
			%p.body-small
				%span.bold-font-name
					$32/mo.
				with 
				%img.affirm-logo{:src=>"/images/affirm-logo.svg"}
				%a.bold-font-name.quarter-margin-left{:href=>"#"}
					Show me how
	.text-center.half-margin-top
		%img.max-width{:src=>"/images/public/buy-block-sizzle-2.png", :width=>"270px"}
	%p.text-center.bold-font-name.help-number.no-margin-bottom
		Questions? Chat now or call 
		%span.link-color
			1-800-581-9819