%p.body-large.dark-text-color.bold-font-name.promo-header
	Class details

.class-details-list
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			quiz
		%span.bold-font-name.quarter-margin-right
			Exam type
		Current PMP exam (Until July 9, 2026)
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			pace
		%span.bold-font-name.quarter-margin-right
			Class time
		6PM to 8PM (America/Denver)
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			dark_mode
		%span.bold-font-name.quarter-margin-right
			Class days
		Mon / Weds Evenings
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			calendar_month
		%span.bold-font-name.quarter-margin-right
			Class dates
		Mon, Nov 29 - Weds, Jan 12
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			verified
		%span.bold-font-name.quarter-margin-right
			PMP Moneyback guarantee
		Yes
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			badge
		%span.bold-font-name.quarter-margin-right
			Instructor
		Mike Ikona PMP
	%p.dark-text-color.half-margin-bottom.body-small
		%i.material-symbols-outlined.vertical-align-middle
			laptop
		%span.bold-font-name.quarter-margin-right
			System Requirements
		Desktop or mobile web browser