%p.body-large.dark-text-color.bold-font-name.promo-header
	Credits earned title
.row
	.col-sm-12
		-3.times do
			.credits-box.margin-bottom.card.card-flat.padded
				.credits-header
					.credits-icon
						%img{:src=>"/images/public/check.svg"}
					.credits-title.bold-font-name.dark-text-color
						How to Measure Project Performance

				.credits-divider

				.credits-grid
					.credit-item
						.credit-label 
							Ways of working
						.credit-hours 
							3.00 hrs

					.credit-item
						.credit-label 
							Power Skills
						.credit-hours 
							3.00 hrs

					.credit-item
						.credit-label 
							Business Acumen
						.credit-hours 
							3.00 hrs

					.credit-item.total
						.credit-label
							%img{src: "/images/public/credit-triangle.svg"}
							Total
						.credit-hours 
							3.00 hrs