%p.body-large.dark-text-color.bold-font-name.promo-header.quarter-margin-bottom
	Frequently asked questions
%p
	Answers to our most frequently asked questions related to vouchers
#accordion.panel-group.faq-accordian.no-margin-bottom

	.panel.panel-default.no-border
		.panel-heading.no-padding.no-border
			.panel-title
				%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-1"}
					.icon-wrapper
						%span.fa.fa-caret-down.faq-icon
					.question-wrapper
						%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
							What is the best way to prepare for the PMP exam?
		.panel-collapse.collapse{:id=>"collapse-1"}
			.panel-body.no-padding-left
				%p.no-margin-bottom
					The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.
	.panel.panel-default.no-border
		.panel-heading.no-padding.no-border
			.panel-title
				%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-2"}
					.icon-wrapper
						%span.fa.fa-caret-down.faq-icon
					.question-wrapper
						%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
							How soon do we receive vouchers after checkout?
		.panel-collapse.collapse{:id=>"collapse-2"}
			.panel-body.no-padding-left
				%p.no-margin-bottom
					The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.
	.panel.panel-default.no-border
		.panel-heading.no-padding.no-border
			.panel-title
				%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-3"}
					.icon-wrapper
						%span.fa.fa-caret-down.faq-icon
					.question-wrapper
						%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
							Is there a minimum number of seats?
		.panel-collapse.collapse{:id=>"collapse-3"}
			.panel-body.no-padding-left
				%p.no-margin-bottom
					The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.
	.panel.panel-default.no-border
		.panel-heading.no-padding.no-border
			.panel-title
				%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-4"}
					.icon-wrapper
						%span.fa.fa-caret-down.faq-icon
					.question-wrapper
						%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
							Do vouchers expire?
		.panel-collapse.collapse{:id=>"collapse-4"}
			.panel-body.no-padding-left
				%p.no-margin-bottom
					The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.
	.panel.panel-default.no-border
		.panel-heading.no-padding.no-border
			.panel-title
				%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-5"}
					.icon-wrapper
						%span.fa.fa-caret-down.faq-icon
					.question-wrapper
						%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
							Can we transfer a voucher to someone else?
		.panel-collapse.collapse{:id=>"collapse-5"}
			.panel-body.no-padding-left
				%p.no-margin-bottom
					The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.
	.panel.panel-default.no-border
		.panel-heading.no-padding.no-border
			.panel-title
				%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse-6"}
					.icon-wrapper
						%span.fa.fa-caret-down.faq-icon
					.question-wrapper
						%p.bold-font-name.dark-text-color.body-medium.no-margin-bottom
							How do employees redeem?
		.panel-collapse.collapse{:id=>"collapse-6"}
			.panel-body.no-padding-left
				%p.no-margin-bottom
					The best way to prepare for the PMP exam is through a structured training course that includes live instruction, realistic practice exams, and materials aligned with the latest PMI exam content outline.