%p.body-large.dark-text-color.bold-font-name.promo-header
	Included with your practice exam purchase
.row
	.col-sm-6
		%ul.list-checks.no-margin-bottom
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Instant access 
					from any web browser, with nothing to download
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Explanations for every
					question with page references to PMI's The Standard for Program Management®
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Easily create your own 
					PgMP tests from our database of 800+ PgMP test questions
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Unlimited access
					to 800+ exceptionally realistic PgMP exam practice questions
	.col-sm-6
		%ul.list-checks.no-margin-bottom
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						90-day access  
					to professional PgMP practice exams for only $68 USD
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Includes over sixteen 
					condensed PgMP mock exams and Knowledge Domain tests

			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Easily create your own 
					PgMP tests from our database of 800+ PgMP test questions
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-medium
					%span.bold-font-name
						Personalized reports 
					, exam dashboard, PgMP exam tips, video tutorials and much more
			


