%p.body-large.dark-text-color.bold-font-name.promo-header
	Included with your live class enrollment
.row
	.col-sm-6
		%ul.list-checks.no-margin-bottom
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					PM practice exam portal
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					Official PMP class curriculum from PMI
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					FREE On-Demand PM course with 30 PDUs to keep your future certification valid ($348 USD value)
	.col-sm-6
		%ul.list-checks.no-margin-bottom
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					PMP moneyback guarantee
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					Extensive online class materials
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					Live class taught by Premier AT from PMI
			%li.half-margin-bottom{:style=>"font-size:1em;"}
				%p.no-margin-bottom.dark-text-color.body-small
					35 PMI Contact Hours needed for the PMP exam





-# .row
-# 	-2.times do
-# 		.col-sm-6
-# 			%ul.list-checks.no-margin-bottom
-# 				%li.half-margin-bottom{:style=>"font-size:1em;"}
-# 					%p.no-margin-bottom.dark-text-color
-# 						%span.bold-font-name
-# 							Earn all 60 
-# 						PDU credits in one place
-# 				%li.half-margin-bottom{:style=>"font-size:1em;"}
-# 					%p.no-margin-bottom.dark-text-color
-# 						%span.bold-font-name
-# 							PMI® ATP-approved 
-# 						curriculum
-# 				%li.half-margin-bottom{:style=>"font-size:1em;"}
-# 					%p.no-margin-bottom.dark-text-color
-# 						%span.bold-font-name
-# 							100% money-back 
-# 						guarantee
