%p.body-large.dark-text-color.bold-font-name.promo-header
	Course features
.row
	-2.times do
		.col-sm-6
			%ul.list-checks.no-margin-bottom
				%li.half-margin-bottom{:style=>"font-size:1em;"}
					%p.no-margin-bottom.dark-text-color
						%span.bold-font-name
							Earn all 60 
						PDU credits in one place
				%li.half-margin-bottom{:style=>"font-size:1em;"}
					%p.no-margin-bottom.dark-text-color
						%span.bold-font-name
							PMI® ATP-approved 
						curriculum
				%li.half-margin-bottom{:style=>"font-size:1em;"}
					%p.no-margin-bottom.dark-text-color
						%span.bold-font-name
							100% money-back 
						guarantee