%p.body-large.dark-text-color.bold-font-name.promo-header
	Realistic PgMP Practice Exams Created by Experts
.row
	.col-sm-12
		-10.times do
			.card.card-flat.padded.margin-bottom
				.flex-media-object
					.flex-media-item
						%img.course-preview-thumb.shadow-version{:src=>"/images/public/practice-exam/1.png", :width=>"142px"}
					.flex-media-body
						%p.body-small.half-margin-bottom
							%em
								Personalized Member Dashboard
						%p.dark-text-color.bold-font-name.quarter-margin-bottom
							Access Realistic PgMP Exams or Create Your Own
						%p.body-small.no-margin-bottom
							Quickly understand what PgMP study areas require more focus before you take the real exam. Each time you take a test, the system will track your performance by Project Performance Domain, PgMP Exam Domain, and more.
						