.panel.success-gradient.no-margin-bottom
	.panel-body.padded
		.text-center
			%img{:src=>"/images/public/live/money-back.png", :width=>"156px"}
			%p.bold-font-name.dark-text-color.half-margin-bottom.body-large
				Buy with confidence— each course is backed by our money-back guarantee
			%p.dark-text-color.body-medium
				%span.bold-font-name
					94% 
				of students recommend PMTraining
			.row.double-margin-top
				.col-sm-6
					.margin-bottom
						%img.half-margin-bottom{:src=>"/images/public/badge-customer.svg", :width=>"135px"}
						%p.micro-text.light-text-color
							All PMTraining classes use PMI-approved materials. Our content is continuously reviewed and quality-checked across both live and online learning.
				.col-sm-6
					.margin-bottom
						%img.half-margin-bottom{:src=>"/images/public/badge-success.svg", :width=>"135px"}
						%p.micro-text.light-text-color
							Enroll in any live PMP class with our 100% money-back guarantee. Expert instructors + proven curriculum + modern tools—everything you need to pass. Guaranteed.