%p.body-large.dark-text-color.bold-font-name.promo-header
	Courses included title
.row
	.col-sm-12
		-4.times do
			.card.card-flat.padded.margin-bottom
				.flex-media-object
					.flex-media-item
						%img.course-preview-thumb{:src=>"/images/public/course-card.png", :width=>"142px"}
					.flex-media-body
						%p.dark-text-color.bold-font-name.no-margin-bottom
							Course title
						%p.dark-text-color.quarter-margin-bottom
							%i.material-symbols-outlined{:style=>"font-size:16px; position:relative; top:3px;"}
								history_2
							
							%span.bold-font-name
								14 
							PDUs
						%ul.list-default.no-margin-bottom
							-3.times do
								%li.half-margin-left
									Learn to identify real world business needs