%p.body-large.dark-text-color.bold-font-name.promo-header.half-margin-bottom
	Pre-approved by PMI® title here
.flex-media-object.flex-media-object-align-center
	.flex-media-item
		%img.media-object.quarter-margin-right{:alt => "...", :src => "/images/pmi-logo.svg", :width=>"67px"}
	.flex-media-body
		%p.no-margin-bottom.dark-text-color.medium-font-name{:style=>"max-width:300px;"}
			Premier Authorized Training Partner (ATP) of the Project Management Institute®