.pdu-options.half-margin-bottom
	.pdu-option
		%input.pdu-radio{ type: "radio", name: "pdu_bundle", id: "pdu_7", checked: true  }
		%label.pdu-card{ for: "pdu_7" }
			.pdu-card-left
				.pdu-radio-ui
					.pdu-radio-dot

				.pdu-copy
					.pdu-top-line
						%span.pdu-count 7 PDUs
						%span.pdu-save-pill SAVE 28%
					.pdu-title PM Foundations

			.pdu-card-right
				%span.pdu-old-price $81
				%span.pdu-new-price $58

	.pdu-option
		%input.pdu-radio{ type: "radio", name: "pdu_bundle", id: "pdu_14_scrum" }
		%label.pdu-card{ for: "pdu_14_scrum" }
			.pdu-card-left
				.pdu-radio-ui
					.pdu-radio-dot

				.pdu-copy
					.pdu-top-line
						%span.pdu-count 14 PDUs
						%span.pdu-save-pill SAVE 42%
					.pdu-title SCRUM Immersion

			.pdu-card-right
				%span.pdu-old-price $153
				%span.pdu-new-price $88

	.pdu-option
		%input.pdu-radio{ type: "radio", name: "pdu_bundle", id: "pdu_14_modern" }
		%label.pdu-card{ for: "pdu_14_modern" }
			.pdu-card-left
				.pdu-radio-ui
					.pdu-radio-dot

				.pdu-copy
					.pdu-top-line
						%span.pdu-count 14 PDUs
						%span.pdu-save-pill SAVE 44%
					.pdu-title Modern Leadership

			.pdu-card-right
				%span.pdu-old-price $153
				%span.pdu-new-price $88

	.pdu-option
		%input.pdu-radio{ type: "radio", name: "pdu_bundle", id: "pdu_25"}
		%label.pdu-card{ for: "pdu_25" }
			.pdu-card-left
				.pdu-radio-ui
					.pdu-radio-dot

				.pdu-copy
					.pdu-top-line
						%span.pdu-count 25 PDUs
						%span.pdu-save-pill SAVE 44%
					.pdu-title PM Foundations

			.pdu-card-right
				%span.pdu-old-price $262
				%span.pdu-new-price $148

	.pdu-option
		%input.pdu-radio{ type: "radio", name: "pdu_bundle", id: "pdu_50" }
		%label.pdu-card{ for: "pdu_50" }
			.pdu-card-left
				.pdu-radio-ui
					.pdu-radio-dot

				.pdu-copy
					.pdu-top-line
						%span.pdu-count 50 PDUs
						%span.pdu-save-pill SAVE 50%
					.pdu-title All PDU Courses

			.pdu-card-right
				%span.pdu-old-price $598
				%span.pdu-new-price $298