.secret-deal-header
	%section.secret-deal-header-top
		.container
			.row
				.col-xs-12
					.secret-deal-header-inner
						%p.secret-deal-kicker
							You've unlocked a

						%h1.secret-deal-title
							SECRET DEAL

						%p.secret-deal-subtitle
							You won't find on our website!

	%section.secret-deal-countdown-bar
		.container
			.row
				.col-xs-12
					.secret-deal-countdown-inner
						%span.secret-deal-countdown-label
							%span.extra-bold-font-name
								Secret deal 
							expires in:

						.secret-deal-timer
							.secret-deal-time-block
								%span.secret-deal-time-number 15
								%span.secret-deal-time-label Hrs

							.secret-deal-time-separator :

							.secret-deal-time-block
								%span.secret-deal-time-number 58
								%span.secret-deal-time-label Min

	%section.secret-deal-offer
		.container
			.row
				.col-xs-12
					.secret-deal-offer-inner
						%p.secret-deal-offer-title
							Get our Complete PDU Package for only
							%span.bold-font-name 
								$180 more

						%p.secret-deal-offer-subtitle
							We've discounted this package for you by
							%span.secret-deal-offer-savings 
								70%
							\- just pay the difference
