%p.body-large.dark-text-color.bold-font-name.promo-header
	See PMTraining in Action
.row
	.col-xs-6
		%a{:href=>"#"}
			%img.full-width.half-margin-bottom{:src=>"/images/public/video-thumb-1.png"}
		%p.dark-text-color.no-margin-bottom.bold-font-name
			Taking a Test
	.col-xs-6
		%a{:href=>"#"}
			%img.full-width.half-margin-bottom{:src=>"/images/public/video-thumb-2.png"}
		%p.dark-text-color.no-margin-bottom.bold-font-name
			Measuring your Performance

		