%p.body-large.dark-text-color.bold-font-name.promo-header
	Why choose this course?
.row
	-2.times do
		.col-sm-6
			-3.times do
				.media
					.pull-left
						%i.material-symbols-outlined.primary-text-color{:style=>""}
							bolt
					
					.media-body.text-left
						%p.no-margin-bottom.dark-text-color.bold-font-name
							60+ Hours of Interactive Lessons
						%p.half-margin-bottom.body-small
							Studio-quality, on-demand training you can complete in order or revisit anytime.