;;;

"layout": "public",
"title": "CAPM Certification Bootcamp"


;;;


%section.invert-section.invert-darker.product-header#product-hero
	.container
		.product-grid
			.pg-row
				.pg-col.pg-content
					%p.body-large.bold-font-name.quarter-margin-bottom.light-accent-text-color
						CAPM Certification Bootcamp
					%h1.bold-font-name.half-margin-bottom
						On-Demand CAPM Course Available 24x7
					%p.no-margin-bottom
						Prepare for the CAPM exam on your own schedule. Our On-Demand CAPM prep course effectively prepares students for the CAPM topic areas and certification exam. Access unlimited course lessons, from any computer with a browser. This CAPM certification course includes 20+ interactive course lessons, 23+ PMI contact hours, all study materials, CAPM quizzes, PMBOK® Guide exercises, and much more.

%section
	.container
		.product-grid
			.pg-row
				.pg-col.pg-content
					.promo-section.border-bottom.padding-bottom
						=partial"pmi-approved"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"features"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"included-courses"
					.promo-section.padding-top
						=partial"reviews"	
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"why-course"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"guarantee"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"curriculum"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"faqs"
					.promo-section.padding-bottom.padding-top
						=partial"trusted-by"
					
				.pg-col.pg-buy-block.buy-block-container{:style=>"top:-380px; margin-bottom -380px;"}
					.buy-block-wrapper
						=partial('buy-block-capm')

=partial"buy-bar"
					
						

			
				
				
				


				
				


                           