;;;

"layout": "public",
"title": "Professional Development Units (PDUs)®"


;;;


%section.invert-section.invert-darker.product-header#product-hero
	.container
		.product-grid
			.pg-row
				.pg-col.pg-content
					%p.body-large.bold-font-name.quarter-margin-bottom.light-accent-text-color
						Professional Development Units (PDUs)®
					%h1.bold-font-name.half-margin-bottom
						On-Demand PDU Courses Available 24/7
					%p.no-margin-bottom
						Our On-Demand PMP PDU courses in project management are designed to reinforce key PM concepts and instill new best practices, while earning up to 60 PDU credits. Access the best PMP PDU online course lessons without limitation, from any computer with a web browser. Includes studio quality course lessons, up to 60 PDUs for PMP credits, all study materials, exercises, PM tools and much more.
%section
	.container
		.product-grid
			.pg-row
				.pg-col.pg-content
					.promo-section.border-bottom.padding-bottom
						=partial"pmi-approved"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"features"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"credits-earned"
					.promo-section.padding-top.padding-bottom
						=partial"reviews"	
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"included-courses"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"why-course"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"guarantee"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"faqs"
					.promo-section.padding-bottom.padding-top
						=partial"trusted-by"
					
				.pg-col.pg-buy-block.buy-block-container{:style=>"top:-380px; margin-bottom -380px;"}
					.buy-block-wrapper
						=partial('buy-block-pdu')

=partial"buy-bar"
					
						

			
				
				
				


				
				


                           