;;;

"layout": "public",
"title": "Practice exam"


;;;


%section.invert-section.invert-darker.product-header#product-hero
	.container
		.product-grid
			.pg-row
				.pg-col.pg-content
					%p.body-large.bold-font-name.quarter-margin-bottom.light-accent-text-color
						Program Management Professional (PgMP)® Practice Exams
					%h1.bold-font-name.half-margin-bottom.hidden-sm.hidden-xs
						Professional PgMP Practice Exams
					%p.no-margin-bottom
						%span.bold-font-name
							Are you prepared? 
						Test your PgMP knowledge with real exam-style questions.

%section
	.container
		.product-grid
			.pg-row
				.pg-col.pg-content
					.promo-section.border-bottom.padding-bottom
						=partial"pmi-approved"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"features-2"
					.promo-section.padding-top
						=partial"reviews"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"guarantee"	
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"videos"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"feature-thumbs"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"full-description"
					.promo-section.border-bottom.padding-bottom.padding-top
						=partial"faqs"
					.promo-section.padding-bottom.padding-top
						=partial"trusted-by"
					
				.pg-col.pg-buy-block.buy-block-container{:style=>"top:-300px; margin-bottom -300px;"}
					.buy-block-wrapper
						=partial('buy-block-practice-exam')

=partial"buy-bar"
					
						

			
				
				
				


				
				


                           