.exam-type-alert.margin-bottom
	%button.exam-alert-close{type: "button", "data-dismiss"=>"alert"}
		%i.material-symbols-outlined 
			close

	.media.no-margin-top
		.pull-left
			%i.material-symbols-outlined
				campaign
		.media-body
			%h5.no-margin-bottom
				PMP Exam Update
			%h5.no-margin-bottom.medium-font-name
				The PMP exam is updating on July 9. Select the version you’re preparing for to see the right classes.