.container
  .class-schedule-cards
    -10.times do
      .class-card
        .card-col.title
          %h4.bold-font-name.quarter-margin-bottom
            Mon, Feb 3, 2025
          %h5
            %a.no-decor{:href=>"#"}
              Class details
              %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
                chevron_right
        .card-col.date
          .info-container
            .icon.quarter-margin-right
              %span.material-symbols-outlined
                calendar_today
            .info
              %p.medium-font-name.dark-text-color
                Tue/Thur Bootcamp
              %p.medium-font-name.dark-text-color.micro-text
                2 days
        .card-col.time
          .info-container
            .icon.quarter-margin-right
              %span.material-symbols-outlined
                schedule
            .info
              %p.medium-font-name.dark-text-color
                7AM - 3PM
              %p.medium-font-name.dark-text-color.micro-text
                (America/Denver)
        .price-actions-wrapper
          .card-col.price
            %p.bold-font-name.text-danger
              Save $400 Now
            %h4.bold-font-name.dark-text-color
              %span.line-through.light-text-color.micro-text.quarter-margin-right
                $1398
              $998 USD
          .card-col.actions
            %a.btn.btn-success.btn-inline
              Enroll now
              %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
                chevron_right
            %h5.medium-font-name.text-danger.quarter-margin-top
              %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
                acute
              %em
                Selling fast