.container
  .filters-container.timezone-actions-container.quarter-padding-bottom
    .filters-col
      .d-flex.align-items-baseline
        %p.no-margin-bottom.extra-bold-font-name.dark-text-color.quarter-margin-right
          Time zone:
        .dropdown
          .btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.btn-content-wrapper
              %span.text
                %span.medium-font-name
                  (GMT-07:00) America/Denver
              %span.material-symbols-outlined.icon{:style=>"vertical-align:middle;"}
                keyboard_arrow_down
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
                (GMT-06:00) America/North Dakota/New Salem
            %li
              %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
                (GMT-06:00) America/North Dakota/New Salem
            %li
              %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
                (GMT-06:00) America/North Dakota/New Salem
    .filters-col
      %p.extra-bold-font-name
        %a.d-block-mobile{:href=>"#"}
          Enroll Multiple students
        %span.quarter-margin-right.quarter-margin-left.d-none-mobile
          |
        %a.d-block-mobile{:href=>"#"}
          Request Private Class for your Team

  .filters-container
    .filters-col
      .dropdown
        .btn.btn-info-dark.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.btn-content-wrapper
            %span.text
              Any days
            %span.material-symbols-outlined.icon{:style=>"vertical-align:middle;"}
              keyboard_arrow_down
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
              Any days
          %li
            %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
              Weekends
          %li
            %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
              Weekdays

      .dropdown
        .btn.btn-info-dark.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.btn-content-wrapper
            %span.text
              Any time
            %span.material-symbols-outlined.icon{:style=>"vertical-align:middle;"}
              keyboard_arrow_down
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"} 
              .checkbox.quarter-margin-top.quarter-margin-bottom
                %label
                  %input#optionsRadios1{ :name => "optionsRadios", :type => "checkbox", :value => "option1"}/
                  %span.bold-font-name
                    Mornings 
                  (8AM-3PM)
          %li
            %a{:href => "#"} 
              .checkbox.quarter-margin-top.quarter-margin-bottom
                %label
                  %input#optionsRadios1{ :name => "optionsRadios", :type => "checkbox", :value => "option1"}/
                  %span.bold-font-name
                    Afternoons 
                  (4PM-8PM)
      .dropdown
        .btn.btn-info-dark.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.btn-content-wrapper
            %span.text
              Any month
            %span.material-symbols-outlined.icon{:style=>"vertical-align:middle;"}
              keyboard_arrow_down
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"} 
              .radio.quarter-margin-top.quarter-margin-bottom
                %label
                  %input#optionsRadios1{ :name => "optionsRadios", :type => "radio", :value => "option1"}/
                  Any month
          %li
            %a{:href => "#"} 
              .radio.quarter-margin-top.quarter-margin-bottom
                %label
                  %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}/
                  January
          %li
            %a{:href => "#"} 
              .radio.quarter-margin-top.quarter-margin-bottom
                %label
                  %input#optionsRadios3{:name => "optionsRadios", :type => "radio", :value => "option3"}/
                  February
    .filters-col
      .dropdown
        .btn.btn-info-dark.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.btn-content-wrapper
            %span.text
              %span.regular-font-name
                Sort by
              recommended
            %span.material-symbols-outlined.icon{:style=>"vertical-align:middle;"}
              keyboard_arrow_down
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
              Option
          %li
            %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
              Option
          %li
            %a.quarter-padding-top.quarter-padding-bottom{:href => "#"} 
              Option
  .class-schedule-cards
    .class-card
      .card-col.title
        %h4.bold-font-name.quarter-margin-bottom
          Mon, Feb 3, 2025
        %h5
          %span.text-muted{:class=>"tooltip-up",:"data-toggle"=>"tooltip", :title=>"This class is full and can no longer accept new enrollments." }
            Class details
            %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
              chevron_right
      .card-col.date
        .info-container
          .icon.quarter-margin-right
            %span.material-symbols-outlined
              calendar_today
          .info
            %p.medium-font-name.dark-text-color
              Tue/Thur Bootcamp
            %p.medium-font-name.dark-text-color.micro-text
              2 days
      .card-col.time
        .info-container
          .icon.quarter-margin-right
            %span.material-symbols-outlined
              schedule
          .info
            %p.medium-font-name.dark-text-color
              7AM - 3PM
            %p.medium-font-name.dark-text-color.micro-text
              (America/Denver)
      .price-actions-wrapper
        .card-col.price
          %p.bold-font-name.text-danger
            Save $400 Now
          %h4.bold-font-name.dark-text-color
            %span.line-through.light-text-color.micro-text.quarter-margin-right.savings
              $1398
            $998 USD
        .card-col.actions
          %a.btn.btn-default.btn-inline.enroll-btn.disabled.max-width
            Sold out
            %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
              chevron_right
          %h5.bold-font-name.text-danger.quarter-margin-top.micro-text.urgency-label
            %span.material-symbols-outlined.urgency-icon{:style=>"vertical-align:middle;"}
              acute
            %em
              Only 4 spots left!
    .class-card
      .card-col.title
        %h4.bold-font-name.quarter-margin-bottom
          Mon, Feb 3, 2025
        %h5
          %a.no-decor{"data-toggle"=>"modal", :href=>"/public/classes/show", "data-target"=>"#showClassModal"}
            Class details
            %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
              chevron_right
      .card-col.date
        .info-container
          .icon.quarter-margin-right
            %span.material-symbols-outlined
              calendar_today
          .info
            %p.medium-font-name.dark-text-color
              Tue/Thur Bootcamp
            %p.medium-font-name.dark-text-color.micro-text
              2 days
      .card-col.time
        .info-container
          .icon.quarter-margin-right
            %span.material-symbols-outlined
              schedule
          .info
            %p.medium-font-name.dark-text-color
              7AM - 3PM
            %p.medium-font-name.dark-text-color.micro-text
              (America/Denver)
      .price-actions-wrapper
        .card-col.price.flash-sale
          %p.bold-font-name.text-danger
            Save $400 Now
          %h4.bold-font-name.dark-text-color
            %span.line-through.light-text-color.micro-text.quarter-margin-right.savings
              $1398
            $998 USD
          %p.sale-ends
            Sale ends Feb 12
        .card-col.actions
          %a.btn.btn-success.btn-inline.enroll-btn
            Enroll now
            %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
              chevron_right
          %h5.bold-font-name.text-danger.quarter-margin-top.micro-text.urgency-label
            %span.material-symbols-outlined.urgency-icon{:style=>"vertical-align:middle;"}
              acute
            %em
              Only 4 spots left!
    -10.times do
      .class-card
        .card-col.title
          %h4.bold-font-name.quarter-margin-bottom
            Mon, Feb 3, 2025
          %h5
            %a.no-decor{"data-toggle"=>"modal", :href=>"/public/classes/show", "data-target"=>"#showClassModal"}
              Class details
              %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
                chevron_right
        .card-col.date
          .info-container
            .icon.quarter-margin-right
              %span.material-symbols-outlined
                calendar_today
            .info
              %p.medium-font-name.dark-text-color
                Tue/Thur Bootcamp
              %p.medium-font-name.dark-text-color.micro-text
                2 days
        .card-col.time
          .info-container
            .icon.quarter-margin-right
              %span.material-symbols-outlined
                schedule
            .info
              %p.medium-font-name.dark-text-color
                7AM - 3PM
              %p.medium-font-name.dark-text-color.micro-text
                (America/Denver)
        .price-actions-wrapper
          .card-col.price
            %p.bold-font-name.text-danger
              Save $400 Now
            %h4.bold-font-name.dark-text-color
              %span.line-through.light-text-color.micro-text.quarter-margin-right.savings
                $1398
              $998 USD
          .card-col.actions
            %a.btn.btn-success.btn-inline.enroll-btn
              Enroll now
              %span.material-symbols-outlined{:style=>"vertical-align:middle;"}
                chevron_right
            %h5.bold-font-name.text-danger.quarter-margin-top.micro-text.urgency-label
              %span.material-symbols-outlined.urgency-icon{:style=>"vertical-align:middle;"}
                acute
              %em
                Selling fast
-# .div{:style=>"max-width:900px; margin:0 auto;"}
-#   =partial("/public/classes/show")
