;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"subtitle": "Our Guarantee"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"live-pmp-header"}


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"
%section
	.container
		.row
			.col-sm-7
				%h2
					Exam Pass Guarantee
				%p.no-margin-bottom
					%strong
						Our Guarantee to You
				%p
					Enroll in any of our live classes, and we guarantee that you will pass the PMP exam. Unlike other providers, online classes offered by PMTraining combine experienced instructors and proven curriculums, with cutting edge online tools designed to help you pass. We are so confident, we guarantee you will become a PMP after completing one of our classes.
				%p.no-margin-bottom
					%strong
						Our Committment to Quality
				%p
					All classes and products offered by PMTraining are thoroughly reviewed to ensure quality and consistency. Content offered to students, both in-class and via our online systems, undergo continuous reviews and quality assessments.
				%p.no-margin-bottom
					%strong
						Current PMP Pass Rate
				%p
					97% First Time Pass
			.col-sm-5
				=image_tag"public/vlt_gurantee-PMP-large.jpg", :class=>"img-responsive margin-auto double-margin-bottom" 
				.text-center
					%p.text-center.half-margin-bottom
						%small
							%em
								PMTraining Student Portal Included with Class Enrollment! 
					%a.btn.btn-default{:href=>"/public/live-pmp/schedule-and-pricing"}
						Schedule & Pricing
.container
	%hr.no-margin-top.no-margin-bottom
%section.off-white
	.container
		.row
			.col-lg-12
				.triple-margin-bottom
					%h6.text-center.primary-text-color
						Our Exam Pass Guarantee
					.panel
						.panel-body
							.padded
								%ul.list-checks.no-margin-bottom
									%li
										We guarantee that you will pass your PMP exam after completing a PMTraining Live Online Class.
									%li
										Take the exam within 30 days of completing any Live Online PMP Class.
									%li
										Attend all class days and complete all class assignments, including online PMP practice exams.
									%li
										If you do not pass the exam the first time after attending a PMTraining Live Online Class, attend the class again for free. Your PMTraining online exam prep access will also be extended, free of charge.
									%li
										If you fail the exam more than one time (rare), you will be invited to enroll in the class again, and provided instruction until you pass, free of charge. Your PMTraining online exam prep access will also be extended, free of charge.
									%li.no-margin-bottom
										Please submit PMP examination results to confirm re-enrollment.
				.clearfix
				%h6.text-center.primary-text-color
					Class Policies and Student Information
				.panel
					.panel-body
						.padded
							%ul.list-checks.no-margin-bottom
								%li
									PMI administers the PMP exam at Prometric testing facilities. Test fee is paid by the student.
								%li
									In rare occasions where a class cancellation occurs, we will issue an immediate and full refund of class fee paid, or enroll you in a future class with existing fees paid.
								%li
									Please be aware that the Project Management Institute (PMI) does audit a small percentage of exam applications. Please leave enough time to submit your application.
								%li
									Full Refund Policy: Students may receive a full refund up to 7 days prior to class start. For refunds within 7 days of class start, there will be a $150 cancellation fee for multi-week classes and a $250 cancellation fee for Bootcamp classes.
								%li
									Partial Refund Policy: Students will receive a 75% refund up to 24 hours after the first class session. No refunds will be issued beyond this point.
								%li
									Flexible Transfer Policy: Our Flexible Transfer Policy allows students to enroll early with confidence. We do not impose any penalty for transfers to another course, as long as we are notified via email or phone before the start of the course. If a student requeusts transfer to another course time prior to the start of their registered class, 100% of any prepaid course tuition fees will be applied toward the requested course time, without penalty.
								%li
									All students will be given contact information to their dedicated Course Administrator in order to expedite any and all support requests and inquiries.
								%li
									Students are required to complete approximately 11 hours total of homework assignments over the class semester in order to receive their class completion certificate.
								%li
									Class start time will occur no later than 5 minutes after the scheduled start time. Class will end on time. Class and instructor can agree that extra time can be spent working on answering questions.
								%li
									In addition to the included class materials, all students will receive 3 months of unlimited access to the online PMTraining exam prep system. Students are also entitled to a free 90-day extension to the online exam system if needed.
								%li.no-margin-bottom
									In the event a student must miss a class, we are happy to record the live class session and post it within 24 hours.
=partial"/public/shared/schedule-section"


                           