;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"subtitle": "Included With Class"

;;;

=partial"/public/shared/page-head-small", locals:{headerClass:"live-pmp-header"}





%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"

%section.feature-blocks
	.container
		.row
			.col-sm-12
				%h2.no-margin-bottom
					Included with Your PMP Class Enrollment
				%blockquote
					"Whenever I come across something that had a positive impact on my success, I let people know about it. Thank you for offering PMTraining, I am sure to recommend it to others." 
					%footer
						H. Hartung PMP, USA
		.row.margin-bottom
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-youtube-play
						.col-sm-9
							%h5.no-margin-bottom.regular-font-name.highlight
								%span.bold-font-name
									$45
								Value
							%h4
								Free access to our PMP On-Demand course free of charge 
							%p
								=lorem.words(30)
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-bookmark
						.col-sm-9
							%h4
								Class sessions are recorded so you can view them at a later time.
							%p
								=lorem.words(30)
		.row.margin-bottom
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-pencil
						.col-sm-9
							%h4
								Class Taught by PMI Registered Education Provider (R.E.P.)
							%p
								All courses offered by PMTraining are instructed by PMI Registered Education Providers (R.E.P.s). All class curriculums offered by our course providers have been assessed by PMI, and are preapproved for contact hours as well as PDUs. All classes in our 
								%a{:href=>"/public/live-pmp/schedule-and-pricing"}
									PMP course schedule 
								are valid for 35 PMI Contact Hours and PDU Credits.
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-clipboard
						.col-sm-9
							%h4
								Focused PMP Certification Curriculum
							%p
								Each class will intensively cover all areas of the latest PMBOK Guide速, and will instill a comprehensive knowledge of all ten PMBOK Guide速 Knowledge Areas, five basic process groups, the Project Framework; and Professional and Social Responsibility. Students will leave with a solid foundation of Project Management, ready to become a PMP.
		.row.margin-bottom
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-bullseye
						.col-sm-9
							%h4
								Extensive Study Tools Included with Every Class
							%p
								Students will be provided with the most effective study tools currently available on the market, including offline exam preparation tools, a comprehensive class manual, and access to realistic exam simulation tools. Please note: Due to copyright restrictions, students will need to acquire their own version of the PMBOK Guide速.
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-user
						.col-sm-9
							%h4
								PMTraining Online Membership Included
							%p
								Master the pace, subject matter, and difficulty of the PMP exam with a free membership to PMTraining's online exam practice system (a $59.00 value). You will have access to over 1,000 PMP practice exam questions, answers, and detailed explanations; including detailed score reports which save you time by pinpointing PMBOK Guide速 knowledge areas which require more study.
		.row.margin-bottom
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-mobile-phone
						.col-sm-9
							%h4
								Contact hours and PDUs Included with Course
							%p
								All classes are officially recognized by the Project Management Institute (PMI) and include 35 Contact Hours (amount required to take the PMP exam). In addition, each class includes PDUs for use with your future PMP certification.
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-question
						.col-sm-9
							%h4
								One-on-one QA session with Instructor
							%p
								Similar to in-class courses, students will be encouraged to engage with the instructor. As an added bonus, all students will be allotted time for "one-on-one" sessions with their instructor, to answer questions and clarify concepts.
		.row.margin-bottom
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-file-text-o
						.col-sm-9
							%h4
								PMI Application and Audit Assistance
							%p
								Applying for the PMP exam is a breeze with step-by-step application assistance. Instructions and guidance is provided to all students who require it. Students selected by PMI for audit will be provided with additional assistance.
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-paper-plane-o
						.col-sm-9
							%h4
								Email Access to Your PMP Instructor
							%p
								We understand that students have questions outside of class hours. All students will be provided with direct email access to their instructor, in the event they have additional questions or feedback on PMP-related topics.
		.row.margin-bottom
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-certificate
						.col-sm-9
							%h4
								We Guarantee your PMP
							%p
								With a near-perfect 97%+ first time pass rate, we guarantee you will pass the PMP exam and become certified. If you do not pass the PMP exam the first time, you will be provided with free instructor assistance, and free course re-enrollment without limit. Review our complete 
								%a{:href=>"/public/live-pmp/guarantee"}
									no-nonsense exam pass guarantee.
			.col-sm-6
				.padded
					.row
						.col-sm-3
							%i.fa.fa-money
						.col-sm-9
							%h4
								The Best Classes at the Lowest Prices
							%p
								All online classes offered through PMTraining must adhere to an exhaustive list of quality and pass rate guidelines. In addition, our extensive technology infrastructure allows us to offer classes at the lowest prices in the industry. Students can be sure they are receiving an incredible value.
=partial"/public/shared/schedule-section"

                           