;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"subtitle": "Class Overview"

;;;


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				%a.podcast-container{:href=>"#"}
					.media
						.pull-left
							%img.media-object.half-margin-right.half-margin-top{:alt => "...", :src => "../../images/shout.svg", :width=>"30px"}
						.media-body
							.row
								.col-md-10.col-sm-9
									%h5.no-margin-bottom
										2021 PMP Exam update
									%h5.no-margin-bottom.regular-font-name
										Here’s where we could explain that the PMT exam is going to change in 20201 and we’ll offer both types.


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/pmi-badge"
		.row
			.col-lg-12
				=partial"/public/shared/subnav"

%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				.badge-container
					%img.badge-img.lg{:src=>"/images/tablet-pmt.svg", :width=>"100px"}
					.text-wrapper.light
						%h3.no-margin-bottom
							Access our PMP On-Demand course 
							%span.extra-bold-font-name
								FREE
							%span.highlight{:style=>"font-size:17px; line-height:17px;"}
								%span.bold-font-name
									$45 
								Value
						%p.no-margin-bottom
							When you enroll in any live class.
		.row
			.col-lg-12
				.badge-container
					%img.badge-img.lg.affirm{:src=>"/images/affirm-logo.png", :width=>"100px"}
					.text-wrapper.light
						.row
							.col-sm-8.col-md-9
								%h3.no-margin-bottom
									Buy with 
									%span.extra-bold-font-name
										monthly payments
								%p.no-margin-bottom
									Get a real-time decision
							.col-sm-4.col-md-3
								%a.btn.btn-primary.btn-block.quarter-margin-top{:href=>"#"}
									Learn more


%section
	.container
		/ .row.double-margin-bottom
		/ 	.col-sm-12
		/ 		.panel
		/ 			.panel-body
		/ 				%p.text-center
		/ 					=image_tag'medal_prep.png', :class=>"margin-right", :width=>"80"
		/ 					Crush the PM Exam has just named PMtraiing as the 
		/ 					%span.bold-font-name
		/ 						:escaped
		/ 							#1 PMP Live-Online
		/ 					of 2017!
		/ 					%a.quarter-margin-left{:href=>"#", :style=>"border:none;"}
		/ 						Read the review
		.row
			.col-sm-6.col-sm-push-6
				.padded
					%img.img-responsive.double-margin-bottom{:src=>"/images/public/live/chart-dude.svg"}
			.col-sm-6.col-sm-pull-6
				%h2.bold-font-name
					Attend Live PMP Classes Online
				%p.body-large
					Our Live Virtual Project Management Professional (PMP)® classes are taught by expert instructors, who also bring their real-world and relevant experience to the students. Now offering evening and weekend classes!
				%a.btn.btn-default{href:"/public/live-pmp/schedule-and-pricing"}
					Schedule & Pricing
		%hr
		.row
			.col-sm-1
			.col-sm-10
				.padding-top.padding-bottom
					.blockquote-bold
						%h2.bold-font-name.dark-text-color
							Great class, the exam prep portal was an amazing component in addition to the excellent class... A great combination."
						%h4.no-margin-bottom.primary-text-color
							Bernard Gonzales
						%h5.no-margin-bottom.loght-text-color.regular-font-name
							(MBA, PMP)
			.col-sm-1
						
.container
	%hr.no-margin-top.no-margin-bottom
%section.small-panels.off-white
	.container
		.row.double-padding-top.double-padding-bottom
			.col-sm-6
				%img.img-responsive.margin-auto.double-margin-bottom{:src=>"/images/public/live/chair-dude.svg"}
			.col-sm-6
				%h2.bold-font-name
					A PMP Curriculum Focused on Exam Success
				%p.body-large
					Built around accelerated learning techniques and carefully designed learning materials, this intense, focused PMP training delivers a passing PMP® Exam score on your very first try. You will be prepared to take the PMP exam, following our carefully designed class curriculum.
		.row
			.col-lg-12
				#accordion.panel-group
					.row
						.col-lg-6
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
											Introduction and PMP Exam overview
								#collapseOne.panel-collapse.collapse
									.panel-body
										%p
											Learn About the PMI Application Process
											%br
											Identify exam preparation key methodologies
											%br
											The Exam Itself
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
											The Project Management Framework
								#collapseTwo.panel-collapse.collapse
									.panel-body
										%p
											Define what a project is and what project management is
											%br
											Organization Influences on Project Management
											%br
											How to define a project life cycle
											%br
											Specify Influences of Organizational Structures on Project Management
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
											The Project Management Process Groups
								#collapseThree.panel-collapse.collapse
									.panel-body
										%p
											Initiating Process Group
											%br
											Planning Process Group
											%br
											Executing Process Group
											%br
											Monitoring and Controlling Process Group
											%br
											Closing Process Group
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
											Project Integration Management
								#collapseFour.panel-collapse.collapse
									.panel-body
										%p
											Develop Project Charter
											%br
											Project Selection
											%br
											Project Statement of Work 
											%br
											Develop Project Management Plan 
											%br
											Direct and Manage Project Work 
											%br
											Monitor and Control Project Work 
											%br
											Perform Integrated Change Control 
											%br
											Close Project or Phase 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
											Project Scope Management
								#collapseFive.panel-collapse.collapse
									.panel-body
										%p
											Scope Management Plan
											%br
											Collect Requirements 
											%br
											Define Scope 
											%br
											Create Work Breakdown Structure “WBS” 
											%br
											Validate Scope 
											%br
											Control Scope 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSix"}
											Project Time Management
								#collapseSix.panel-collapse.collapse
									.panel-body
										%p
											Schedule Management Plan 
											%br
											Define Activities 
											%br
											Sequence Activities 
											%br
											Estimating Activity Resources 
											%br
											Estimating Activity Durations 
											%br
											Develop Schedule 
											%br
											Control Schedule 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSeven"}
											Project Cost Management
								#collapseSeven.panel-collapse.collapse
									.panel-body
										%p
											Cost Management Plan 
											%br
											Estimate Costs
											%br
											Determine Budget 
											%br
											Control Costs 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseEight"}
											Project Quality Management
								#collapseEight.panel-collapse.collapse
									.panel-body
										%p
											Plan Quality 
											%br
											Perform Quality Assurance 
											%br
											Perform Quality Control 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
						.col-lg-6
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseNine"}
											Project Human Resources Management
								#collapseNine.panel-collapse.collapse
									.panel-body
										%p
											Roles and Responsibilities 
											%br
											Human Resource Responsibilities for Project Managers
											%br
											Develop Human Resource Plan 
											%br
											Acquire Project Team 
											%br
											Develop Project Team 
											%br
											Manage Project Team 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTen"}
											Project Communication Management
								#collapseTen.panel-collapse.collapse
									.panel-body
										%p
											Plan Communications 
											%br
											Manage Communications 
											%br
											Control Communications 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 

							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseEleven"}
											Project Risk Management
								#collapseEleven.panel-collapse.collapse
									.panel-body
										%p
											Inputs to and Outputs of Risk Management
											%br
											Risk Management Process 
											%br
											Plan Risk Management 
											%br
											Identify Risks 
											%br
											Perform Qualitative Risk Analysis 
											%br
											Perform Quantitative Risk Analysis 
											%br
											Plan Risk Responses 
											%br
											Control Risks 
											%br
											Common Risk Management Errors
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwelve"}
											Project Procurement Management
								#collapseTwelve.panel-collapse.collapse
									.panel-body
										%p
											The Procurement Management Process 
											%br
											Plan Procurements 
											%br
											Conduct Procurement 
											%br
											Control Procurements 
											%br
											Close Procurement 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThirteen"}
											Project Stakeholder Management
								#collapseThirteen.panel-collapse.collapse
									.panel-body
										%p
											Identify Stakeholders 
											%br
											Plan Stakeholder Management 
											%br
											Manage Stakeholder Engagement 
											%br
											Control Stakeholder Engagement 
											%br
											Complete Exercises
											%br
											Complete Knowledge Area Test
											%br
											Complete PMP Mock Exam (LITE) 
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFourteen"}
											Project Management Ethical Responsibility and Code of Conduct
								#collapseFourteen.panel-collapse.collapse
									.panel-body
										%p
											Ethical Application of Project Management
											%br
											Complete Exercises
							.panel.panel-default
								.panel-heading
									%h4.panel-title
										%a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFifteen"}
											Putting It All Together
								#collapseFifteen.panel-collapse.collapse
									.panel-body
										%p
											General Review
											%br
											Formulas to Know for the Exam
											%br
											Before You Take The Exam
											%br
											Tricks for Taking The Exam
											%br
											Common Project Management Errors and Pitfalls



%section
	.container
		.row.double-padding-top.double-padding-bottom
			.col-sm-6.col-sm-push-6
				.padded
					%img.img-responsive.double-margin-bottom{:src=>"/images/public/live/gal-stairs.svg"}
			.col-sm-6.col-sm-pull-6
				%h2.bold-font-name
					Benifits Included with every class
				%ul.list-unstyled.check-list-large.double-margin-bottom
					%li
						%p.body-large
							%i.fa.fa-check
							Accredited class taught by PMTraining 
					%li
						%p.body-large
							%i.fa.fa-check
							Online exam prep student portal
					%li
						%p.body-large
							%i.fa.fa-check
							All class study materials
					%li
						%p.body-large
							%i.fa.fa-check
							35 PMI Contact Hours and PDU Credits
					%li
						%p.body-large
							%i.fa.fa-check
							One-on-one access to instructor
					%li
						%p.body-large
							%i.fa.fa-check
							PMI exam application assistance
					%li
						%p.body-large
							%i.fa.fa-check
							100% exam pass guarantee
				%a.btn.btn-default{href:"/public/live-pmp/schedule-and-pricing"}
					Get started




%section
	.container
		.row
			.col-sm-2
			.col-sm-8.text-center
				%h2.bold-font-name
					Tought by expert instructors more text about how any why these guys are the best
			.col-sm-2

	.instructor-slider
		- i = 0;
		-7.times do
			- i = i + 1
			.slide
				.padded
					%img.img-responsive.margin-bottom{:src=>"/images/public/live/instructor-#{i}.png"}
					%p.no-margin-bottom.text-box-hidable
						=lorem.words(100)
						\.
					%p.expand-height
						%a.bold-font-name.no-decor{:href=>"#", :onclick=>"return false;"}
							Read more
					%h4.no-margin-bottom.primary-text-color.half-margin-top
						=lorem.name
					%h5.no-margin-bottom.loght-text-color.regular-font-name
						(MBA, PMP)

		

%section
	.container
		.row
			.col-sm-12.text-center
				%h2.bold-font-name
					Enroll online or by phone
		.row
			.col-sm-4
				.margin-bottom
					=image_tag'public/live/enroll-1.svg', :class=>"margin-auto img-responsive margin-bottom" 
					%h3.text-center.bold-font-name.dark-text-color
						Enroll in an Online 
						%br
						PMP Class
			.col-sm-4
				.margin-bottom
					=image_tag'public/live/enroll-2.svg', :class=>"margin-auto img-responsive margin-bottom" 
					%h3.text-center.bold-font-name.dark-text-color
						Attend Live Classes 
						%br
						from Your Computer
			.col-sm-4
				.margin-bottom
					=image_tag'public/live/enroll-3.svg', :class=>"margin-auto img-responsive margin-bottom" 
					%h3.text-center.bold-font-name.dark-text-color
						Pass the PMP Exam, Guaranteed
		.row.margin-top
			.col-lg-12.text-center
				%a.btn.btn-default.margin-bottom{href:"/public/live-pmp/schedule-and-pricing"}
					Get started now
				%p.body-large.bold-font-name.dark-text-color
					Or call
					%span.primary-text-color
						1-800-581-9819
		.row
			.col-lg-12
				.panel
					.panel-body
						%p.bold-font-name.half-margin-bottom
							Exam pass data
						%p
							PMTraining's exam pass rate is based on post-class survey response data collected from January to May 2017. Respondent data was collected using a standardized survey format, sent via email to 1181 total students, asking students who had attended a PMTraining live class if they passed the PMP exam. 97% of respondents indicated they had passed the exam.


				


                           