;;;

"layout": "public",
"title": "Live PMP Classes",
"right_title": "", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"subtitle": "Schedule & Pricing"

;;;

/ =partial"/public/shared/page-head-small", locals:{headerClass:"live-pmp-header"}


%section.no-padding-bottom
	.container
		.row
			.col-lg-12
				=partial"/public/shared/subnav"



%section
	.container
		.row
			.col-lg-12
				%h2.bold-font-name.double-marign-bottom
					Live Virtual PMP Class Schedule and Pricing
		.row
			.col-sm-7
				.row.margin-bottom.margin-top
					.col-md-6
						%ul.list-unstyled
							%li.margin-bottom
								.media
									.pull-left
										=image_tag"public/live/icon-ed.svg", :class=>"media-object half-margin-right", :width=>"50px"
									.media-body 
										%small
											%span.extra-bold-font-name
												Money back guarantee
											%br 
											included with every class offered
							%li.margin-bottom
								.media
									.pull-left
										=image_tag"public/live/icon-mail.svg", :class=>"media-object half-margin-right", :width=>"50px"
									.media-body 
										%small
											%span.extra-bold-font-name
												Instant email confirmation
											%br
											and class enrollment after checkout
					.col-md-6
						%ul.list-unstyled
							%li.margin-bottom
								.media
									.pull-left
										=image_tag"public/live/icon-teac.svg", :class=>"media-object half-margin-right", :width=>"50px"
									.media-body 
										%small
											%span.extra-bold-font-name
												Attend live classes 
											%br 
											from any web browser or connected device
							%li.margin-bottom
								.media
									.pull-left
										=image_tag"public/live/icon-person.svg", :class=>"media-object half-margin-right", :width=>"50px"
									.media-body 
										%small
											%span.extra-bold-font-name
												Includes class materials 
											%br
											from the Project Management Institute
			.col-sm-5 
				=image_tag"public/video_thumb.png", :class=>"img-responsive margin-auto double-margin-bottom" 
%section.no-padding-top
	.container
		.row
			.col-sm-12
				=partial'/public/live-pmp/schedule-table'

                           