;;;

"title": "FAQs",
"nav_title": "FAQs",
"subnav_data": "support_subnav",
"activeclass": "support"

;;;


%section.faq-container
	.container
		.row
			.col-lg-12
				=partial "/shared/subnav_with_links"
		.row
			.col-lg-12
				%h3.no-margin-bottom
					FAQ Sections

		.row
			.col-md-9
				%h2#questions-pm
					Questions About PMTraining
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%hr
				%h2#questions-account
					Questions About Your Account
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%hr
				%h2#questions-exam
					Questions About the PMP Exam
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%hr
				%h2#questions-preformance
					Questions About How we Measure your Performance
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%p
					%strong
						What types of PMP practice exam content does PMTraining provide to members?
					PMTraining, formerly PMPerfect, contains hundreds of PMP exam questions structured in to a number of cumulative practice exams, along with targeted practice tests focused on individual PMBOK Knowledge Areas.  All content is based on the latest PMP exam, following the PMBOK Guide - Fifth Edition.
				%hr
				%h2
					About Us
				=image_tag'public/logo_ssi.jpg', class:"img-responsive img-thumbnail margin-bottom"
				%p
					%strong
						Professional. Measurable. Realistic.
					Exam Preparation Solutions

					%strong
						PMTraining is owned and operated by SSI Logic.
					Welcome to PMTraining, one of the most realistic online exam preparation services available for the Project Management Professional Exam. Our testing content is created by subject matter experts and instructors who are veterans in their field of expertise.
				%p
					The online software platform developed by SSI Logic is based upon the real exam test environment to provide our users with the most true to form practice application possible. Whereas other sites may provide a linear screen-by-screen testing mechanism, we provide a timed, markable test application which mimics the real exam. Our testing system requires no additional software downloads, and works within a standard browser, providing our users with the most accessible, practical preparation possible.

				%p
					%strong
						Professional. Measurable. Realistic.
					All of SSI Logic's content is developed in tandem with qualified subject-matter experts in adherence to our testing Content Development Process (CDP). Our process serves to minimize the risk of content issues related to quality and accuracy; and increases our platform's ability to reflect objective, consistent, test taker performance. Below are general steps included in our CDP methodology.
				=image_tag'public/CDP_Flow.gif', class:"img-responsive margin-bottom"
				%p
					Because no process is perfect, SSI Logic proactively polls students for quality feedback. Doing so allows us to pinpoint potential quality issues, and serves as a baseline view of perception regarding every test in our catalog. Our team continuously monitors candidate perception to identify areas of improvement and overall effectiveness.
				%hr
				%h2#disclaimer
					Site Disclaimer
				%p
					Care has been taken in the compilation of this web site and its contents. The information, statements, and testing content contained on this site are believed to be correct. However, this site, its owners, operators, and/or representatives shall not be held liable for any loss, damage or inconvenience arising from potential inaccuracies.
				%p
					No guarantee, warranty, or representation is made that you will pass the PMP exam as a result of using this website, nor with regard to the general content of these pages.

				%p
					This site, including its owners, reprentatives, administrators, and or employees, is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on information contained within the site. While the information contained within this site is believed to be accurate, no guarantee is given that the information provided in this Web site is correct, complete, and up-to-date.

				%p
					Please read the terms and information carefully before registering to use this system. Accessing and/or registering for this service indicates that you accept these terms and understand this information.

				%p
					The testing content within this web site has been prepared via the best efforts and knowledge of the parties involved. If you believe that any of the information here contains innacuracies or requires updating, feel free to inform us via our contact form, and we will review your feedback.
				%p

					Content provided within this site are not endorsed by the Project Management Institute (PMI) or any other organisation. This site is independently owned and operated.

				%p
					For the avoidance of doubt, under no circumstances shall this site, its owners, its representatives, administrators or employees be held liable for any event of direct, indirect, incidental or consequential damage or loss in connection with, or arising out of, any information provided or omitted by them or by other parties in relation to this site.
				%p

					We may revise the terms of this disclaimer at any time. You should therefore visit this page from time to time as the terms expressed herein are binding when using this site. For general questions or remarks about our policies, please contact us using our web site contact form.
				%p

					If any part of this Disclaimer is held to be invalid or unenforceable, such invalidity of unenforceability shall not invalidate the entire Disclaimer as a whole. Rather the Disclaimer shall be construed as though it did not contain the particular provision held to be invalid or unenforceable and the rights and obligation of relevant parties shall be construed and enforced to such extent as shall be permitted by applicable law.
				%p

					To view all 
					%a{:href=>"/"}
						PMI exam prep 
					materials currently available, please see our page on PMI preparation which includes information on how to pass your
					%a{:href=>"/"} 
						PMI exam.
			.col-md-3
				%ul.nav{"data-spy"=>"affix", "data-offset-top"=>"0"}
					%li
						%a{:href=>"#questions-pm"}
							Questions About PMTraining
					%li
						%a{:href=>"#questions-account"}
							Questions About Your Account
					%li
						%a{:href=>"#questions-exam"}
							Questions About the PMP Exam
					%li
						%a{:href=>"#questions-preformance"}
							Questions About How we Measure your Performance
		