%span.caret
%ul.dropdown-menu.dropdown-large{:role=>"menu"}
	%li
		%a.hidden
	.row
		.col-sm-5
			.padded
				%h4.half-margin-bottom.bold-font-name.text-uppercase
					Heading about something
				%ul.list-unstyled.quarter-margin-bottom
					%li
						%a{:href=>"#"}
							Live PMP CLasses
							%i.fa.fa-angle-double-right
					%li
						%a{:href=>"#"}
							PMI_ACP On Demand Course
							%i.fa.fa-angle-double-right
					%li
						%a{:href=>"#"}
							PMI-ACP Practice Exams
							%i.fa.fa-angle-double-right
					%li
						%a{:href=>"#"}
							Another Link
							%i.fa.fa-angle-double-right
		.col-sm-7
			.padded
				=image_tag ('public/dropdowns/dropdown_training.png') ,:class=>"img-responsive"