.main-nav-container
	%nav.pull-left
		%ul.list-inline.main-links
			%li{:class => (current_page.data.activeclass === "practice") ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/practice-pmp"}
					PMP Practice Exams
					=partial "/public/header/pmp_practice_dropdown"
								

			%li.sale{:class => (current_page.data.activeclass === "live") ? "active" : ""}
				%a{:href=>"/public/live-pmp"}
					Live PMP Classes
					=partial "/public/header/live_pmp_dropdown"


			%li{:class => (current_page.data.activeclass === "bootcamp") ? "active" : ""}
				%a{:href=>"/public/bootcamp"}
					On-Demand PMP Course
					=partial "/public/header/demand_dropdown"

			%li{:class => (current_page.data.activeclass === "acp-training") ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/practice-pmp"}
					PMI ACP Training
					=partial "/public/header/acp_training_dropdown"

			%li{:class => (current_page.data.activeclass === "acp-training") ? "active" : ""}
				%a.dropdown-toggle{:href=>"/public/practice-pmp"}
					Scrum
					=partial "/public/header/scrum_dropdown"
 
			/ %li{:class => (current_page.data.activeclass === "about" ) ? "active" : ""}
			/ 	%a.dropdown-toggle{:href=>"/public/about"}
			/ 		Corporate
			/ 		=partial "/public/header/corporate_dropdown"

	%nav.pull-right.checkout-btn-wrapper
		%a.btn.btn-primary{:href=>"/public/checkout", :class => (current_page.data.activeclass === "checkout" ) ? "active" : ""}
			%i.fa.fa-shopping-cart 
			Cart
	%nav.pull-right.currency-btn-wrapper
		%button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
			USD
			%i.fa.fa-caret-down
		%ul.dropdown-menu{:role => "menu"}
			%li
				%a{:href => "#"} 
					.radio
						%label
							%input#optionsRadios1{ :name => "optionsRadios", :type => "radio", :value => "option1"}/
							%span.bold-font-name
								AUS $ 
							&ensp;Australlian Dollar
			%li
				%a{:href => "#"} 
					.radio
						%label
							%input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}/
							%span.bold-font-name
								CAD $ 
							&ensp;Canadian Dollar
			%li
				%a{:href => "#"} 
					.radio
						%label
							%input#optionsRadios3{:name => "optionsRadios", :type => "radio", :value => "option3"}/
							%span.bold-font-name
								EUR € 
							&ensp;European Euro
			%li
				%a{:href => "#"} 
					.radio
						%label
							%input#optionsRadios4{:name => "optionsRadios", :type => "radio", :value => "option4"}/
							%span.bold-font-name
								GBP £ 
							&ensp;United Kingdom Pound Sterling
			%li
				%a{:href => "#"} 
					.radio
						%label
							%input#optionsRadios5{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option5"}/
							%span.bold-font-name
								USD $ 
							&ensp;United States Dollar





