%span.caret
%ul.dropdown-menu.dropdown-large{:role=>"menu"}
	%li
		%a.hidden
	.row
		.col-sm-5
			.padded
				%h4.half-margin-bottom.bold-font-name.text-uppercase
					Heading about something
				%ul.list-unstyled.quarter-margin-bottom
					%li
						%i.fa.fa-check
						Access to 1,000+ PMP exam questions.
					%li
						%i.fa.fa-check
						Detailed explanations for PMP question
					%li
						%i.fa.fa-check
						Professional PMP practice exams.
					%li
						%i.fa.fa-check
						Another Selling Point.
				%hr.half-margin-top.half-margin-bottom
				%a.btn.btn-primary.pull-left.half-margin-right{:href=>"#"}
					Learn more
				%a.btn.btn-primary.pull-left{:href=>"#"}
					Sign up now
		.col-sm-7
			.padded
				=image_tag ('public/dropdowns/dropdown_practice.png') ,:class=>"img-responsive"