.filters-container{
	padding:20px 0;
	display: flex;
	justify-content: space-between;
	.dropdown{
		display: inline-flex;
	}
	.btn{
		text-color:$dark-text-color;
		border-color:$dark-text-color;
		font-size: 14px;
		border-width: 1.5px;
		padding:5px 10px;
	}
}