.filters-container{
	padding:20px 0;
	display: flex;
	justify-content: space-between;
	.dropdown{
		display: inline-flex;
	}
	.btn{
		font-size: 14px;
		padding:5px 10px;
		min-width:150px;
		.btn-content-wrapper{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	@include breakpoint(md) {
		display: block;
		.dropdown{
			display: block;
			margin-bottom:$baseline/2;
		}
		.btn{
			width:100%;
		}
	}
}

.clear-filters{
	display: inline-block;
	margin-left:10px;
	font-family: $bold-font-name;
	font-size: 16px;
	@include breakpoint(md) {
		margin-left: 0;
		border:2px solid $link-color;
		padding:4px 10px;
		border-radius: 4px;
		width:100%;
		text-align: center;
		margin-bottom:30px;
	}
}

.timezone-actions-container{
	@include breakpoint(md) {
		flex-direction: column-reverse;
		width:100%;
		display: flex!important;
	}
}