.faq-accordian{
	.panel{
		border: none;
		box-shadow: none;
		padding: 10px 0;
		border-bottom:1px solid $gray-color;
		.panel-heading{
			border: none;
			a{
				text-decoration: none!important;
				display: block;
				display: flex;
				&:hover{
					color: $dark-text-color;
				}
				&.collapsed{
					.icon-wrapper{
						
						.faq-icon{
							rotate: -90deg;
						}
					}
				}
				.question-wrapper{
					
				}
				.icon-wrapper{
					margin-right: 10px;
				}
			}
		}
		.panel-collapse{
			.panel-body{
				border: none;
				margin-left: 20px;
				p{
					font-size: 16px;
				}
			}
		}
	}
}



#home-hero{
	background: shade($primary-color,80%);
	position: relative;
	z-index: 99;
	overflow: hidden;
	h1{
		font-size: 48px;
		line-height: 1.1em;
		@include breakpoint(md) {
			font-size: 36px;
		}
	}
	.overhang{
		color: #99D8F1;
	}

}

#home-hero-video{
	position: relative;
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	z-index: 0;
	opacity: .2;
}




.hero-list{
	list-style: none;
	li{
		background: url(../images/home-hero-check.svg) no-repeat left;
		font-size: 16px;
		margin:10px 0;
		padding-left:35px;

	}
}


.badge-container{
	position:relative;
	margin-bottom:$baseline*2;
	.badge-img{
		position:absolute;
		top:-10px;
		left:20px;
		@include breakpoint(sm) {
			top:0px;
		}
		&.lg{
			left:30px;
		}
		&.affirm{
			top:18px;
			left:30px;
		}
	}
	.text-wrapper{
		background:tint($link-color,90%);
		border-radius:10px;
		padding:15px;
		width:100%;
		padding-left:160px;
		&.light{
			border:1px solid #E4ECF0;
			background:white;
		}
	}
}




ul.logos-list{
	list-style:none;
	li{
		img{
			height:70px;
			  @include breakpoint(sm) {
			    height:40px;
			  }
		}
	}
}

//podcast container

.podcast-container{
	display: block;
	background:shade($primary-color,30%);
	color:white;
	padding:$baseline/2;
	@extend .white-text;
	border-radius:8px;
	position: relative;
	padding: 16px;
	.label{
		background:shade($primary-color,80%);
		margin-bottom:8px;
		display: inline-block;
		border-radius:100px;
	}
	.play-button{
		display: block;
		text-align: right;
		top:16px;
		right:16px;
		position:relative;

	}
	@include breakpoint(md) {
		h4{
			font-size: 14px;
		}
		.play-button{
			margin-top:10px;
			text-align: left;
			top:0px;
			right:0px;
		}
	}
	@include breakpoint(sm) {



	}

}


.audio-player{
	audio{
		border-radius: 100px;
		&:focus{

			outline:none;
			border:1px solid $primary-color;
		}
	}
}








