
.buy-block-wrapper{
	position: relative;
}


.buy-block{
	padding:40px;
	padding-top:0px;
	position: relative;
	top: -300px;

	@include breakpoint(md) {
		padding:0;
	}
	@include breakpoint(sm) {
		top:0;
		padding:0px 30px 40px 30px;
	}
	h1,h2,h3,h4,h5,h6,p{
		color: $dark-text-color!important;
	}
	.buy-block-card{
		border:1px solid $gray-color;
		border-radius:5px;
		box-shadow:0 1px 8px rgba(0,0,0,.2);
		padding:20px;
		background:white;
	}
	&.buy-block-vouchers{

	}
	&.buy-block-fixed{

	}
}