
.product-grid {

}

.pg-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;   /* gutter */
	margin-right: -12px;  /* gutter */
	box-sizing: border-box;
}

.pg-col {
  padding-left: 12px;   /* gutter */
  padding-right: 12px;  /* gutter */
  box-sizing: border-box;
  min-width: 0;/* prevents overflow in flex items */
  
}

.pg-content{
	flex: 0 0 58.333333%; max-width: 58.333333%;

	@include breakpoint(sm) {
		flex: 0 0 100%; max-width: 100%;
		order:2;
	}

}

.pg-buy-block{
	flex: 0 0 41.666667%; max-width: 41.666667%;

	@include breakpoint(sm) {
		flex: 0 0 100%; max-width: 100%;
		order: 1;
	}
}


.product-header{
	@include breakpoint(sm) {
		padding-bottom: 300px;
	}
}



.buy-block-container{
	position: relative;
	top:-340px;
	margin-bottom:-340px;
	@include breakpoint(sm) {
		top:-300px;
		margin-bottom:-300px;

	}
}



.buy-block-wrapper{
	position: sticky;
	top:50px;
	padding:0 40px;
	@include breakpoint(lg) {
		padding: 0;
	}
	@include breakpoint(md) {
		padding: 0;
	}
	@include breakpoint(sm) {
		
	}
}


.buy-block{
	
	position: relative;
	overflow: hidden;
	&.sale-tag:before{
		position: absolute;
		right:-25px;
		top: 10px;
		content:"Sale";
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		background: $danger-color;
		font-family: $bold-font-name;
		width:100px;
		color: white;
		padding:2px 0;
		rotate: 45deg;
	}

	.old-price-text{
		@include breakpoint(md) {
			font-size:14px;
		}
	}

	.price-text{
		font-family: $bold-font-name;
		font-size:30px;
		@include breakpoint(md) {
			font-size:20px;
		}
		@include breakpoint(sm) {
			font-size:30px;
		}
	}

	.seat-text{
		position: relative;
		right:4px;
		@include breakpoint(md) {
			font-size:14px;
		}
	}

	.label-save{
		@include breakpoint(md) {
		font-size:12px;
		}
	}

	@include breakpoint(md) {
		padding:0;
	}
	@include breakpoint(sm) {
		top:0;
	}
	h1,h2,h3,h4,h5,h6,p{
		color: $dark-text-color!important;
	}
	.buy-block-card{
		border:1px solid $gray-color;
		border-radius:5px;
		box-shadow:0 1px 8px rgba(0,0,0,.2);
		padding:20px;
		background:white;
	}
	&.buy-block-vouchers{

	}
	&.buy-block-fixed{

	}
}


.promo-testimonial-header{
	.media-body{
		margin-top:8px;
	}
}