
.product-grid {

}

.pg-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;   /* gutter */
	margin-right: -12px;  /* gutter */
	box-sizing: border-box;
}

.pg-col {
  padding-left: 12px;   /* gutter */
  padding-right: 12px;  /* gutter */
  box-sizing: border-box;
  min-width: 0;/* prevents overflow in flex items */
  
}

.pg-content{
	flex: 0 0 58.333333%; max-width: 58.333333%;

	@include breakpoint(sm) {
		flex: 0 0 100%; max-width: 100%;
		order:2;
	}

}

.pg-buy-block{
	flex: 0 0 41.666667%; max-width: 41.666667%;

	@include breakpoint(sm) {
		flex: 0 0 100%; max-width: 100%;
		order: 1;
	}
}




.buy-block-container{

}



.buy-block-wrapper{
	position: sticky;
	top:50px;
}


.buy-block{
	padding:0 0 0 20px;
	position: relative;
	// top: -300px;

	@include breakpoint(md) {
		padding:0;
	}
	@include breakpoint(sm) {
		top:0;
		padding:0px 10px 40px 10px;
	}
	h1,h2,h3,h4,h5,h6,p{
		color: $dark-text-color!important;
	}
	.buy-block-card{
		border:1px solid $gray-color;
		border-radius:5px;
		box-shadow:0 1px 8px rgba(0,0,0,.2);
		padding:20px;
		background:white;
	}
	&.buy-block-vouchers{

	}
	&.buy-block-fixed{

	}
}