$panel-width:500px;

img.contact-logo-mobile{
    margin-bottom: $baseline!important;
}

.newsletter-container{
    position:relative;
}

.feature-panel{
    padding:$baseline*1.5;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    width: $panel-width;
    height: 100%;
    overflow: hidden;
    background: $primary-color;
    background-size: cover;

    .contact-logo{
        margin-bottom:39px;
    }
    h5{
        margin-bottom:34px;
        color:white;
    }
    p{
        line-height: 1.5em;
        color:white;
        small{
            color:#A9C2D6!important;
        }
    }
    .contact-quote{
        position:absolute;
        bottom:10%;
        color:white;
        p{
            padding-right:$baseline*1.5;
            &.quote-text{
                font-size: 18px;
                font-family: $regular-font-name;
                line-height: 25px;
            }
        }
        .cite{
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.main-panel{
    height: 100%;
    overflow: auto;
    margin-left: $panel-width;
    position:relative;
        h2{
            line-height: 1.1em;
            // font-size: 32px;
        }
	@include breakpoint(md) {
		margin-left:0;
        section{
            padding:$baseline 0;
        }
        h2{
            font-size: 30px;
        }
	}
	.panel-inner{
		display: table;
		width: 100%;
		height: 100%;
	}
}