;;;

"layout": "public",
"title": "PMP Articles",
"right_title": "", 
"activeclass": "about",
"subtitle": "PMP Articles"

;;;

=partial"/public/shared/page-head-small"


%section
	.container
		.row
			.col-sm-12
				%ol.breadcrumb
					%li
						%a{:href=>"/public/articles"}
							Articles
					%li
						How to Turn your Group of Workers into a Team of Players
		.row
			.col-sm-7
				%h2.no-margin-bottom
					How to Turn your Group of Workers into a Team of Players
				%p.text-muted
					%small
						By Christopher Scordo PMP, ITIL 
				%p
					Teamwork is a funny thing – the saying goes that you are only as strong as your weakest link. When it comes to project management, this saying is especially true; especially when it comes to working with a team of individuals who all rely on each other to make a project work. 
				%p
					Creating a synergy between employees from different backgrounds, with different interests and different experiences can be extremely tricky. The good news for project managers is that most team members can be driven toward a common purpose; and finding that common purpose will often determine the success of the overall project. 
				%p
					When it comes to working together as a team, working towards a common purpose or goal is critical in maintaining morale and quality. For project managers, this goal is typically obvious – complete the project on time, on budget, and within scope. To do that successfully, there are a few things to consider.
				%p
					%strong
						Are the right team members in the right positions?
					Maximizing strengths is a key part of getting people to work as a team. Think, for instance, of a soccer team. If a center forward is playing as a defender because your side is full of injuries, your results on the filed will probably reflect this. The same goes when assigning project roles- sure, a web developer might understand databases, application layers, and front-end coding; but understanding where they will be most effective and happy will ensure higher project performance. When people are in a role where they function well and which they are good at – you will achieve better results. 
				%p
					Recognizing strengths is crucial for all project managers – if you have adequate subject matter expertise in your field, you’ll pick up on who belongs where. If you’re not, you would be best suited in having assistance as you delegate roles.

				%p
					%strong
						Are you positively reinforcing your team members?
					People want to feel good about what they are doing, and they want to know that those who monitor their work are encouraged by their performance. As a project manager, if you’re only ever highlighting performance issues, you will end up fostering a negative team environment. It is crucially important to praise team members when they get things right. 
				%p
					There is a great saying which goes: “praise in public, scold in private”. As a project manager, you should master these words and also learn to master your temper. You might be infuriated and want to act instinctively when team members make obvious mistakes. But when you learn to step back, act diplomatically, and take control calmly, you will often get the best long term performance results.

				%p
					%strong
						Are you setting achievable team goals?
					As mentioned earlier, setting achievable team goals is crucial to a project’s success. Make sure that you allow every member of your team to be part of the process. Even if you, as the project manager, set the schedule and timeline of activities; you can include team members by individually asking each if they agree with your scope estimates. In addition, sharing the long term project goals and mapping them out so everybody knows exactly what is expected of them down the road shows that team members are treated maturely during the life-cycle of a project. Further, make sure you track those team goals in a repeatable, consistent manner. This includes recurring status meetings, frequent status checks, and individually meeting with team members if you feel like they are falling behind. 
				%p
					Getting the best out of your team can be tricky, but doing so is part and parcel of a project manager’s role. As Henry Ford once said, “Coming together is a beginning. Keeping together is progress. Working together is success.”
			.col-sm-1
			.col-sm-4
				.affix-top.article-sidebar{"data-spy"=>"affix", "data-offset-top"=>"300", :style=>" top:80px;" }
					%a{:href=>"/public/live-pmp/schedule-and-pricing"}
						=image_tag"/images/public/sidebar-teaser.png"
			