%table.table.table-responsive.community-average-table.stack
  %thead
    %tr
      %th 
        %h5.light-text-color
          Live Rank
      %th 
        %h5.light-text-color
          PMBOK Guidttte Knowledge Area 
      %th.text-right
        %h5.light-text-color
          Community Average
  %tbody
    -5.times do
      %tr
        %td.number.text-center 1
        %td.item Project Procurement Management
        %td.data.text-right 82.69%
	