%table.table.table-responsive.community-average-table
  %thead
    %tr
      %th.text-left{:style=>"width:10%;"}
        %h5.light-text-color
          Preformance
      %th.text-left 
        %h5.light-text-color
          Subject area
  %tbody
    -5.times do
      %tr
        %td.data.text-left 
          82.69% 
        %td.item.text-left 
          Scope management