%section#home-hero
  %video#home-hero-video{autoplay: "", loop: "", muted: "", playsinline:""}
    %source{src: "../images/hero-movie2.mp4", type: "video/mp4"}
  .container
    .row         
      .col-md-7
        %h4.bold-font-name.quarter-margin-bottom.overhang
          Trusted Training for Project Management Success
        %h1.bold-font-name.margin-bottom
          Pass your PMP® with Affordable, Expert-Led Prep
        %ul.margin-bottom.hero-list
          %li.bold-font-name
            100% Money Back Guarantee
          %li.bold-font-name
            Officially Licensed PMP Curriculum from PMI
          %li.bold-font-name
            Instant access to course materials
        
        -# %img.max-width{:src=>"../images/home-divider.svg"}
        .media.d-flex.align-items-center.margin-bottom{:style=>"max-width:400px;"}
          .pull-left
            %img{:src=>"../images/pmi-logo.svg"}
          .media-body
            %p.media-heading.no-margin-bottom.bold-font-name
              Premier Authorized Training Partner (ATP) of the Project Management Institute®
        .btns
          %a.btn.btn-default.btn-lg.half-margin-bottom.quarter-margin-right{:href=>"#"}
            Primary CTA
          %a.btn.btn-wire.btn-lg.half-margin-bottom{:href=>"#"}
            Secondary CTA

              