.margin-bottom
  %h6.text-center{:style=>"text-transform:none;"}
    Our corporate clients include:
  #logo-slider.carousel.fade{"data-ride" => "carousel"}
    .carousel-inner
      .item
        =image_tag '/images/public/logo-slider/client-atkins.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-calibre.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-ciena.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-dell.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-edwel.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-effectus.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-gp.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-ibm.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-icgpm.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-itsm.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-lockheed.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-merck.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-mti.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-oakton.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-pbsj.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-pinnacle.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-pmcenters.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-pmcollege.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-qpc.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-rtek.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-siemens.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-sitespower.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-sra.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-sungard.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-teched360.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-trainingcamp.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-trainingclasses.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-ucla.gif', :class=>"img-responsive margin-auto"
        .clearfix
      .item
        =image_tag '/images/public/logo-slider/client-verizon.gif', :class=>"img-responsive margin-auto"
        .clearfix