%section.invert-section
	.container
		.row
			.col-sm-12.text-center
				%h2
					A PMP Class Curriculum Focused on 
					%span.bold-font-name
						Passing the Exam
				%a.btn.btn-primary.btn-wire.btn-lg{:href=>"/public/live-pmp/schedule-and-pricing"}
					Schedule & Pricing