.badge-container
	%img.badge-img{:src=>"/images/pmi_logo.png", :width=>"75px"}
	.text-wrapper
		%p.no-margin-bottom
			%span.bold-font-name
				Authorized Training Partner 
			Issued by the Project Management Institute