%h3.half-margin-bottom.form-title.bold-font-name
	Earn rewards for every signup
.quarter-margin-bottom.full-width.text-center
	%img.half-margin-bottom{:src=>"/images/icon-check.svg", :width=>"62px"}
	%p.form-text.half-margin-bottom
		Get a 
		%span.bold-font-name
			$50 Amazon gift card 
		when your friend signs up for a live course. 
	%p.form-text
		Earn $50 for every friend who enrolls. No limits. 

%a.btn.btn-success.btn-lg.btn-block{:href=>"/public/referral/referral-program"}
	Keep sharing
