.referral-hero-text
	%p.body-large.bold-font-name.quarter-margin-bottom.light-accent-text-color
		Refer your friends to PM Training
	%h1.medium-font-name.half-margin-bottom.earn-text
		Refer a friend 
		%span.extra-bold-font-name
			Earn $50
	.hero-checklist
		%ul.hero-list.no-margin-bottom
			%li.medium-font-name
				%span.extra-bold-font-name
					Get $50
				for every friend who enrolls.
			%li.medium-font-name
				Share your referral link. We’ll handle the rest.
			%li.medium-font-name
				No limits! refer as many people as you want.