%h3.quarter-margin-bottom.form-title.bold-font-name
	Start with your details
%p.body-small.form-subtitle
	Enter your details to get your link and start sharing.
.half-margin-bottom.full-width
	.form-group.full-width
		%p.body-small.bold-font-name.quarter-margin-bottom.form-label
			Your name
		%input.form-control.input-lg{ type: "text", placeholder: "John Doe" }
	.form-group.full-width
		%p.body-small.bold-font-name.quarter-margin-bottom.form-label
			Your email
		%input.form-control.input-lg{ type: "text", placeholder: "john@doe.com" }
%a.btn.btn-success.btn-lg.btn-block{:href=>"/public/referral/referral-program-step-2"}
	Start referring