;;;

"layout": "public",
"title": "Referral program",
"right_title": "REGISTER BY PHONE 1.800.581.9819", 
"activeclass": "live",
"subnav_data": "live_pmp_subnav",
"subtitle": "Class Overview"

;;;


%section.invert-section.page-header-section{:style=>"background-image:url(../images/public/referral/hero.png);"}
	.container
		.row.double-padding-top.double-padding-bottom
			.col-lg-12
				%h1.no-margin-bottom
					Earn 20% 

				%h3
					for every student referred by your chapter
				.div
					%a.btn.btn-default.margin-bottom
						Start earning
					%a.btn.btn-info.margin-bottom
						%i.fa.fa-play-circle
						Watch video




%section.off-white.padding-top.padding-bottom
	.container
		.row
			.col-sm-2
			.col-sm-8.text-center
				%h2.bold-font-name
					Chapter Revenue Program
				%p.body-large.no-margin-bottom
					Join PMTraining's new "Chapter Revenue Program" and begin offering over 225+ PMP Exam Prep classes a year, all delivered Live Virtual, all Guaranteed to Run.
			.col-sm-2


%section
	.container
		.row
			.col-sm-6.col-sm-push-6
				.padded
					%img.img-responsive.double-margin-bottom{:src=>"/images/public/referral/icon-earn.svg"}
			.col-sm-6.col-sm-pull-6
				%h2.bold-font-name
					Loaded with benefits
				%ul.list-unstyled.check-list-large.double-margin-bottom.fa-ul
					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Earn 20% for every student referred by your chapter
					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Easily post links to your Chapter website, that track all student registrations
					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Leverage the PM Training network, one of PMI's first Premiere ATPs, and the largest Live Virtual trainer of PMI certifications

					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Also offer PMI-ACP, PMI-PBA, CAPM, and more

%section.small-panels
	.container
		.row
			.col-sm-6
				%img.img-responsive.double-margin-bottom{:src=>"/images/public/referral/icon-join.png", :width=>"440px"}
			.col-sm-6
				%h2.bold-font-name
					Join the Largest Virtual Training ATP
				%ul.list-unstyled.check-list-large.double-margin-bottom.fa-ul
					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							We have trained over 85,000 students since 2010 across our Live Virtual and On-Demand courseware

					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							More than 100 PMI Chapters and organizations rely on our courseware for their students

					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Our student satisfaction rate is among the highest in the training industry


%section
	.container
		.row
			.col-sm-6.col-sm-push-6
				.padded
					%img.img-responsive.double-margin-bottom{:src=>"/images/public/referral/icon-cert.svg"}
			.col-sm-6.col-sm-pull-6
				%h2.bold-font-name
					World class certification training
				%ul.list-unstyled.check-list-large.double-margin-bottom.fa-ul
					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							A focused, proven certification curriculum based on PMI global standards

					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Outstanding support, including personalized student assistance

					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Flexible class schedules, including live on-site and live online format options

					%li.margin-bottom
						%span.fa-li
							%i.fa.fa-check
						%span.body-large
							Class tools and materials that can be accessed from any device
		

%section.off-white
	.container
		.row.double-padding-top.double-padding-bottom
			.col-sm-12.text-center
				%h2.bold-font-name
					Clear and Simple Terms
		.row
			.col-lg-2
			.col-lg-8
				.row.margin-bottom
					.col-sm-4
						.margin-bottom
							=image_tag'public/referral/icon-comission.svg', :class=>"margin-auto img-responsive margin-bottom" 
							%h4.text-center.bold-font-name.dark-text-color
								40% commission on all students referred
					.col-sm-4
						.margin-bottom
							=image_tag'public/referral/icon-paid.svg', :class=>"margin-auto img-responsive margin-bottom" 
							%h4.text-center.bold-font-name.dark-text-color
								Commissions paid monthly
					.col-sm-4
						.margin-bottom
							=image_tag'public/referral/icon-join.svg', :class=>"margin-auto img-responsive margin-bottom" 
							%h4.text-center.bold-font-name.dark-text-color
								No fees to join the program
				.row
					.col-sm-2
					.col-sm-4
						.margin-bottom
							=image_tag'public/referral/icon-links.svg', :class=>"margin-auto img-responsive margin-bottom" 
							%h4.text-center.bold-font-name.dark-text-color
								Third party tracking links to refer students
					.col-sm-4
						.margin-bottom
							=image_tag'public/referral/icon-materials.svg', :class=>"margin-auto img-responsive margin-bottom" 
							%h4.text-center.bold-font-name.dark-text-color
								PMTraining provides all marketing materials
					.col-sm-2
			.col-lg-2


%section.invert-section
	.container
		.row.double-padding-top.double-padding-bottom
			.col-md-3
			.col-md-6
				.text-center
					%h2.bold-font-name
						Ready to Register?  

					%p.body-large
						Complete the Form Below and We’ll Follow up within 1 business day
				%form
					.form-group
						%input.input-lg.form-control{:placeholder=>"Name"}
					.form-group
						%input.input-lg.form-control{:placeholder=>"Email"}
					.form-group
						%input.input-lg.form-control{:placeholder=>"Company"}
					.form-group
						%button.btn.btn-default.btn-block{:type=>"submit"}
							Submit
				%p.text-center
					Questions?
					%a.white-text.bold-font-name{:href=>"#", :style=>"color:white; text-decoration:underline;"}
						Contact us
			.col-md-3



				


                           