;;;

"layout": "public"

;;;


%section.invert-section.invert-darker.referral-hero
	.container
		.row
			.col-md-5
				=partial("referral-hero-text")
			.col-md-7
				.referral-form
					%img.referral-guy{:src=>"/images/public/referral-guy.png"}
					.referral-form-card
						.referral-form-card-inner
							=partial("referral-card-step-2")
								

=partial("referral-instructions-and-faq")


