;;;

"title": "Course Materials",
"nav_title": "On Demand Bootcamp",
"subnav_data": "bootcamp_subnav",
"activeclass": "bootcamp"

;;;


%section
	.container
		.row
			.col-lg-12
				=partial "/shared/subnav_with_links"
		.row
			.col-lg-12
				.page-header.no-margin
					%h5.no-margin-bottom
						Name
				.media-list
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Process Explorer
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Process Explorer Exercise 
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Code of Ethics & Professional Conduct 
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/pdf.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Blank Process Matrix - Monochrome PDF 
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/pdf.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Course Progress Checklist PDF
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/xls.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Course Progress Checklist XLS
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Formula Sheet
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Benefit Measurement Methods 
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Quality Mgmt Tools Matrix    
							.btn.btn-primary.pull-right.btn-sm
								View
					.media-thumbnail
						%a{:href=>"#"}
							.media
								.pull-left
									%img.media-object{:src=>"/images/doc.png", :width=>"28px"}
								.media-body
									%p.bold-font-name.media-heading
										Algebraic Manipulation Review
							.btn.btn-primary.pull-right.btn-sm
								View